{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ruches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ProjetRuches/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.css" />

</head>
<body>
<div style="text-align: center">
    {% include "../Nav/top.html" %}
</div>

<ul class="navbarMenu">
    <li class="liNavBar"><a href="/home">Accueil</a></li>
    <li class="liNavBar"><a href="/informationsUser">Gestion capteurs</a></li>
    {% if user.is_authenticated %}
    <li class="liNavBar"><a href="/afficherRuchers">Gestion Ruchers</a></li>
    <li class="liNavBar"><a href="/afficherColonies">Gestion Colonies</a></li>
    <li class="right liNavBar" style="height: 52px">
        <a href="{% url 'logout' %}">
            <img style="width: 25px; display: inline-block;" src="{% static 'ProjetRuches/images/logout.png'%}" alt="compte">
            <div style="display: inline-block">Déconnexion</div>
        </a>
    </li>
    <li class="right liNavBar" style="height: 52px">
        <a href="/monCompte" style="padding-top: 0">
            <img style="width: 30px; display: inline-block; vertical-align: 1%" src="{% static 'ProjetRuches/images/compte.png'%}" alt="compte">
            <div style="display: inline-block">
            {% if user.is_superuser %}
            <p style="margin-bottom: 0; font-size: 11pt">Bonjour {{ user.username }} (superuser)</p>
            {% else %}
            <p style="margin-bottom: 0; font-size: 11pt">Bonjour {{ user.username }}</p>
            {% endif %}
            Mon Compte
            </div>
        </a>
    </li>
    {% if user.is_superuser %}
    <li class="right liNavBar"><a href="/showUsersAdmin">Administration</a></li>
    {% endif %}
    {% else %}
    <li class="right liNavBar"><a href="{% url 'login' %}">Connexion</a></li>
    <li class="right liNavBar"><a href="inscription">Inscription</a></li>
    {% endif %}
</ul>
{% include "../Nav/navigation.html" %}
<div>
    <h2 style="color: #1C5F90">Mon Compte</h2>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver5 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column2">Username</th>
                                <th class="cell100 column2">Nom</th>
                                <th class="cell100 column2">Prenom</th>
                                <th class="cell100 column10">Mail</th>
                                <th class="cell100 column10">Adresse</th>
                                <th class="cell100 column10">N° API</th>
                                <th class="cell100 column10">N° SIRET ou Numagrit</th>
                                <th class="cell100 column9">Action</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                            <tr class="row100 body">
                                <td class="cell100 column2">{{ user.username }}</td>
                                <td class="cell100 column2">{{ user.last_name }}</td>
                                <td class="cell100 column2">{{ user.first_name }}</td>
                                <td class="cell100 column10">{{ user.email }}</td>
                                <td class="cell100 column10">{{ user.apiculteur.adressePApi }} {% if user.apiculteur.adresseSApi|length %}, {{ user.apiculteur.adresseSApi }} {% endif %} - {{ user.apiculteur.codePostalApi }} {{ user.apiculteur.villeApi }}</td>
                                <td class="cell100 column10">{{ user.apiculteur.numeroApi}}</td>
                                <td class="cell100 column10">{{ user.apiculteur.numeroSiretAgrit}}</td>
                                <td class="cell100 column9">
                                    <form id="formModifier" method="get" style="display: inline-block"
                                          action="{% url 'modifierMonCompte' user.id %}">
                                        <button type="submit" class="btn btnBleuModif m-0">Modifier</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 style="color: #1C5F90">Adherent GDSA</h2>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver5 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column8">Adresse</th>
                                <th class="cell100 column8">PSE</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                            <tr class="row100 body">
                                <td class="cell100 column8">{{ user.apiculteur.adressePGDSA }} {% if user.apiculteur.adresseSGDSA|length %}, {{ user.apiculteur.adresseSGDSA }} {% endif %} - {{ user.apiculteur.codePostalGDSA }} {{ user.apiculteur.villeGDSA }}</td>
                                <td class="cell100 column8">{{ user.apiculteur.PSEGDSA }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 style="color: #1C5F90">Veterinaire conseil</h2>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver5 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column8">Adresse</th>
                                <th class="cell100 column8">telephone</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                            <tr class="row100 body">
                                <td class="cell100 column8">{{ user.apiculteur.adressePVeterinaire }} {% if user.apiculteur.adresseSVeterinaire|length %}, {{ user.apiculteur.adresseSVeterinaire }} {% endif %} - {{ user.apiculteur.codePostalVeterinaire }} {{ user.apiculteur.villeVeterinaire }}</td>
                                <td class="cell100 column8">{{ user.apiculteur.telephoneVeterinaire }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 style="color: #1C5F90">Agent Sanitaire</h2>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver5 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column8">Adresse</th>
                                <th class="cell100 column8">telephone</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                            <tr class="row100 body">
                                <td class="cell100 column8">{{ user.apiculteur.adressePAgentSanitaire }} {% if user.apiculteur.adresseSAgentSanitaire|length %}, {{ user.apiculteur.adresseSAgentSanitaire }} {% endif %} - {{ user.apiculteur.codePostalAgentSanitaire }} {{ user.apiculteur.villeAgentSanitaire }}</td>
                                <td class="cell100 column8">{{ user.apiculteur.telephoneAgentSanitaire }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
</script>
</body>
</html>