{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ruches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ProjetRuches/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

</head>
<body>
<ul class="navbarMenu">
    <li class="liNavBar"><a href="/home">Accueil</a></li>
    <li class="liNavBar"><a href="/camerasUser">Caméras</a></li>
    <li class="liNavBar"><a href="/informationsUser">Informations</a></li>
    {% if user.is_authenticated %}
    <li class="dropdown2">
        <a href="/afficherRuchers" class="dropbtn">Gestion Ruchers</a>
        <div class="dropdown-content">
            <a href="/afficherRuchers">Afficher Ruchers</a>
            <a href="/ajouterRucher">Ajouter Rucher</a>
            <a href="/modifierRuchers">Modifier Rucher</a>
            <a href="/supprimerRuchers">Supprimer Rucher</a>
        </div>
    </li><!--
    --><li class="dropdown2">
        <a href="/afficherColonies" class="dropbtn">Gestion Colonies</a>
        <div class="dropdown-content">
            <a href="/afficherColonies">Afficher Colonies</a>
            <a href="/ajouterColonie">Ajouter Colonie</a>
            <a href="/modifierColonies">Modifier Colonie</a>
            <a href="/supprimerColonies">Supprimer Colonie</a>
        </div>
    </li><!--
    --><li class="dropdown2">
        <a href="#" class="dropbtn">Gestion Nourrissements</a>
        <div class="dropdown-content">
            <a href="#">Afficher Nourrissements</a>
            <a href="/ajouterNourrissement">Ajouter Nourrissement</a>
            <a href="#">Modifier Nourrissement</a>
            <a href="#">Supprimer Nourrissement</a>
        </div>
    </li>
    <li class="right liNavBar"><a href="{% url 'logout' %}">Déconnexion</a></li>
    <li class="right liNavBar"><a class="active" href="/monCompte">Mon Compte</a></li>
    {% if user.is_superuser %}
    <li class="right liNavBar"><a href="showUsersAdmin">Administration</a></li>
    <li class="right liNavBar">Bonjour {{ user.username }} (superuser)</li>
    {% else %}
    <li class="right liNavBar">Bonjour {{ user.username }}</li>
    {% endif %}
    {% else %}
    <li class="right liNavBar"><a href="{% url 'login' %}">Connexion</a></li>
    <li class="right liNavBar"><a href="inscription">Inscription</a></li>
    {% endif %}
</ul>
<div>
    <h2>Mon Compte</h2>
    <div class="table-responsive" style="padding-right: 20%">
        <table class="table table-hover" style="text-align: center">
            <tr>
                <th>Username</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Adresse</th>
                <th>N° API</th>
                <th>N° SIRET ou Numagrit</th>
            </tr>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.apiculteur.adressePApi }}</td>
                <td>{{ user.apiculteur.numeroApi}}</td>
                <td>{{ user.apiculteur.numeroSiretAgrit}}</td>
                <td style="vertical-align: middle; width: 250px">
                    <form id="formModifier" method="get" style="display: inline-block"
                          action="/modifierMonCompte">
                        <button type="submit" class="btn btn-warning m-0">Modifier</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <h4>Adherent GSDA</h4>
    <div class="table-responsive" style="padding-right: 20%">
        <table class="table table-hover" style="text-align: center">
            <tr>
                <th>Adresse</th>
                <th>PSE</th>
            </tr>
            <tr>
                <td>{{ user.apiculteur.adressePGDSA }}</td>
                <td>{{ user.apiculteur.PSEGDSA }}</td>
            </tr>
        </table>
    </div>
    <h4>Veterinaire conseil</h4>
    <div class="table-responsive" style="padding-right: 20%">
        <table class="table table-hover" style="text-align: center">
            <tr>
                <th>Adresse</th>
                <th>telephone</th>
            </tr>
            <tr>
                <td>{{ user.apiculteur.adressePVeterinaire }}</td>
                <td>{{ user.apiculteur.telephoneVeterinaire }}</td>
            </tr>
        </table>
    </div>
    <h4>Agent Sanitaire</h4>
    <div class="table-responsive" style="padding-right: 20%">
        <table class="table table-hover" style="text-align: center">
            <tr>
                <th>Adresse</th>
                <th>telephone</th>
            </tr>
            <tr>
                <td>{{ user.apiculteur.adressePAgentSanitaire }}</td>
                <td>{{ user.apiculteur.telephoneAgentSanitaire }}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>