{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ruches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ProjetRuches/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<ul class="navbarMenu">
    <li class="liNavBar"><a href="home">Accueil</a></li>
    <li class="liNavBar"><a href="camerasUser">Caméras</a></li>
    <li class="liNavBar"><a href="informationsUser">Informations</a></li>
    {% if user.is_authenticated %}
    <li class="dropdown2">
        <a href="afficherRuchers" class="dropbtn">Gestion Ruchers</a>
        <div class="dropdown-content">
            <a href="afficherRuchers">Afficher Ruchers</a>
            <a href="ajouterRucher">Ajouter Rucher</a>
            <a href="modifierRuchers">Modifier Rucher</a>
            <a href="supprimerRuchers">Supprimer Rucher</a>
        </div>
    </li>
    <li class="dropdown2">
        <a href="afficherColonies" class="dropbtn">Gestion Colonies</a>
        <div class="dropdown-content">
            <a href="afficherColonies">Afficher Colonies</a>
            <a href="ajouterColonie">Ajouter Colonie</a>
            <a href="modifierColonies">Modifier Colonie</a>
            <a href="supprimerColonies">Supprimer Colonie</a>
        </div>
    </li>
    <li class="right liNavBar"><a href="{% url 'logout' %}">Déconnexion</a></li>
    <li class="right liNavBar"><a href="/monCompte">Mon Compte</a></li>
    {% if user.is_superuser %}
    <li class="right liNavBar"><a href="showUsersAdmin">Administration</a></li>
    <li class="right liNavBar">Bonjour {{ user.username }} (superuser)</li>
    {% else %}
    <li class="right liNavBar">Bonjour {{ user.username }}</li>
    {% endif %}
    {% else %}
    <li class="right liNavBar"><a href="{% url 'login' %}">Connexion</a></li>
    <li class="right liNavBar"><a class="active" href="inscription">Inscription</a></li>
    {% endif %}
</ul>
<div>
    <h2>Inscription</h2>
    <form method="post">
        {% csrf_token %}

        {% if errorsForm%}
            {% for error in errorsForm %}

                <strong>{{ error }}</strong>

            {% endfor %}
        {% endif %}
        <br>
        Apiculteur
        <br>
        Username {{ user_form.username }}
        <br>
        Prenom {{ user_form.first_name }}
        <br>
        Nom {{ user_form.last_name }}
        <br>
        mail {{ user_form.email }}
        <br>
        mot de passe {{ user_form.password1 }}
        {{ form.password1.errors }}
        <br>
        répéter mot de passe {{ user_form.password2 }}
        {{ form.pasword2.errors }}
        <br>
        {{ api_form.as_p }}
<!--        {{ api_form.user }}-->
<!--        adresse 1 {{ api_form.adressePApi }}-->
<!--        <br>-->
<!--        adresse 2 {{ api_form.adresseSApi }}-->
<!--        <br>-->
<!--        code postal {{ api_form.codePostalApi }}-->
<!--        <br>-->
<!--        ville {{ api_form.villeApi }}-->
<!--        <br>-->
<!--        telephone {{ api_form.telephoneApi }}-->
<!--        <br>-->
<!--        N° API {{ api_form.numeroApi }}-->
<!--        <br>-->
<!--        N° SIRET ou Numagrit {{ api_form.numeroSiretAgrit }}-->
<!--        <br>-->
<!--        Adherent GDSA-->
<!--        <br>-->
<!--        adresse 1 {{ api_form.adressePGDSA }}-->
<!--        <br>-->
<!--        adresse 2 {{ api_form.adresseSGDSA }}-->
<!--        <br>-->
<!--        code postal {{ api_form.codePostalGDSA }}-->
<!--        <br>-->
<!--        ville {{ api_form.villeGDSA }}-->
<!--        <br>-->
<!--        PSE {{ api_form.PSEGDSA }}-->
<!--        <br>-->
<!--        Vétérinaire-->
<!--        <br>-->
<!--        adresse 1 {{ api_form.adressePVeterinaire }}-->
<!--        <br>-->
<!--        adresse 2 {{ api_form.adresseSVeterinaire }}-->
<!--        <br>-->
<!--        code postal {{ api_form.codePostalVeterinaire }}-->
<!--        <br>-->
<!--        ville {{ api_form.villeVeterinaire }}-->
<!--        <br>-->
<!--        telephone {{ api_form.telephoneVeterinaire }}-->
<!--        <br>-->
<!--        Agent Sanitaire-->
<!--        <br>-->
<!--        adresse 1 {{ api_form.adressePAgentSanitaire }}-->
<!--        <br>-->
<!--        adresse 2 {{ api_form.adresseSAgentSanitaire }}-->
<!--        <br>-->
<!--        code postal {{ api_form.codePostalAgentSanitaire }}-->
<!--        <br>-->
<!--        ville {{ api_form.villeAgentSanitaire }}-->
<!--        <br>-->
<!--        telephone {{ api_form.telephoneAgentSanitaire }}-->
        <br>
        <button class="btn btn-primary" type="submit">Inscription</button>
    </form>
</div>
</body>
</html>