{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ruches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ProjetRuches/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div style="text-align: center">
    {% include "../Nav/top.html" %}
</div>
<ul class="navbarMenu">
    <li class="liNavBar"><a href="home">Accueil</a></li>
    <li class="liNavBar"><a href="camerasUser">Caméras</a></li>
    <li class="liNavBar"><a href="informationsUser">Informations</a></li>
    {% if user.is_authenticated %}
    <li class="liNavBar"><a href="afficherRuchers">Gestion Ruchers</a></li>
    <li class="liNavBar"><a href="afficherColonies">Gestion Colonies</a></li>
    <li class="right liNavBar"><a href="{% url 'logout' %}">Déconnexion</a></li>
    <li class="right liNavBar" style="height: 52px">
        <a href="/monCompte" style="padding-top: 0">
            {% if user.is_superuser %}
            <p style="margin-bottom: 0; font-size: 11pt">Bonjour {{ user.username }} (superuser)</p>
            {% else %}
            <p style="margin-bottom: 0; font-size: 11pt">Bonjour {{ user.username }}</p>
            {% endif %}
            Mon Compte
        </a>
    </li>
    {% if user.is_superuser %}
    <li class="right liNavBar"><a href="showUsersAdmin">Administration</a></li>
    {% endif %}
    {% else %}
    <li class="right liNavBar"><a href="{% url 'login' %}">Connexion</a></li>
    <li class="right liNavBar"><a class="active" href="inscription">Inscription</a></li>
    {% endif %}
</ul>
{% include "../Nav/navigation.html" %}
<div>
    <h2 style="color: #1C5F90">Inscription</h2>
    <div class="multipleForm">
        <div class="container-table100">
            <div class="container-form">
                <p class="bigTitleForm"></p>
                <div class="titleForm">
                    <ul role="tablist">
                        <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                            <p style="text-align: center">Apiculteur</p>
                        </li>
                    </ul>
                </div>
                <form class="formVisite" method="post">
                    {% csrf_token %}

                    {% if errorsForm%}
                        {% for error in errorsForm %}

                            <strong>{{ error }}</strong>

                        {% endfor %}
                    {% endif %}

                    <div style="text-align: center; margin-left: auto; margin-right: auto">
                        <div style="text-align: left; margin-left: auto; margin-right: auto">
                            <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                                <div style="display: inline-block">Prénom : &nbsp;</div><div style="display: inline-block;">{{ user_form.first_name }}</div>
                            </div>
                            <div style="display: inline-block; padding-left: 5%">
                                <div style="display: inline-block">Nom : &nbsp;</div><div style="display: inline-block;">{{ user_form.last_name }}</div>
                            </div>
                        </div>
                        <br>

                        <div style="text-align: left; margin-left: auto; margin-right: auto">
                            <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                                <div style="display: inline-block">Username : &nbsp;</div><div style="display: inline-block;">{{ user_form.username }}</div>
                            </div>
                            <div style="display: inline-block; padding-left: 5%">
                                <div style="display: inline-block">Email : &nbsp;</div><div style="display: inline-block;">{{ user_form.email }}</div>
                            </div>
                        </div>
                        <br>

                        <div style="text-align: left; margin-left: auto; margin-right: auto">
                            <div style="display: inline-block; padding-left: 0; padding-right: 5%">
                                <div style="display: inline-block">Mot de passe : &nbsp;</div><div style="display: inline-block;">{{ user_form.password1 }} {{ form.password1.errors }}</div>
                            </div>
                            <div style="display: inline-block; padding-left: 0">
                                <div style="display: inline-block">Répéter le mot de passe : &nbsp;</div><div style="display: inline-block;">{{ user_form.password2 }} {{ form.password2.errors }}</div>
                            </div>
                        </div>
                        <br>


                        {{ api_form.user }}

                        <div style="text-align: left; margin-left: auto; margin-right: auto">
                            <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                                <div style="display: inline-block">Adresse : &nbsp;</div><div style="display: inline-block;">{{ api_form.adressePApi }}</div>
                            </div>
                            <div style="display: inline-block; padding-left: 5%">
                                <div style="display: inline-block">Supplément adresse (optionnel) : &nbsp;</div><div style="display: inline-block;">{{ api_form.adresseSApi }}</div>
                            </div>
                        </div>
                        <br>

                        <div style="text-align: left; margin-left: auto; margin-right: auto">
                            <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                                <div style="display: inline-block">Code postal : &nbsp;</div><div style="display: inline-block;">{{ api_form.codePostalApi }}</div>
                            </div>
                            <div style="display: inline-block; padding-left: 5%">
                                <div style="display: inline-block">Ville : &nbsp;</div><div style="display: inline-block;">{{ api_form.villeApi }}</div>
                            </div>
                        </div>
                        <br>

                        <div style="text-align: left; margin-left: auto; margin-right: auto">
                            <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                                <div style="display: inline-block">Téléphone : &nbsp;</div><div style="display: inline-block;">{{ api_form.telephoneApi }}</div>
                            </div>
                        </div>
                        <br>

                        <div style="text-align: left; margin-left: auto; margin-right: auto">
                            <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                                <div style="display: inline-block">N° API : &nbsp;</div><div style="display: inline-block;">{{ api_form.numeroApi }}</div>
                            </div>
                            <div style="display: inline-block; padding-left: 5%">
                                <div style="display: inline-block">N° SIRET ou Numagrit : &nbsp;</div><div style="display: inline-block;">{{ api_form.numeroSiretAgrit }}</div>
                            </div>
                        </div>
                        <br>

                    </div>


                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Adhérent GDSA</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                            <div style="display: inline-block">Adresse : &nbsp;</div><div style="display: inline-block;">{{ api_form.adressePGDSA }}</div>
                        </div>
                        <div style="display: inline-block; padding-left: 5%">
                            <div style="display: inline-block">Supplément (optionnel) : &nbsp;</div><div style="display: inline-block;">{{ api_form.adresseSGDSA }}</div>
                        </div>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                            <div style="display: inline-block">Code postal : &nbsp;</div><div style="display: inline-block;">{{ api_form.codePostalGDSA }}</div>
                        </div>
                        <div style="display: inline-block; padding-left: 5%">
                            <div style="display: inline-block">Ville : &nbsp;</div><div style="display: inline-block;">{{ api_form.villeGDSA }}</div>
                        </div>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                            <div style="display: inline-block">PSE : &nbsp;</div><div style="display: inline-block;">{{ api_form.PSEGDSA }}</div>
                        </div>
                    </div>
                    <br>


                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Vétérinaire</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                            <div style="display: inline-block">Adresse : &nbsp;</div><div style="display: inline-block;">{{ api_form.adressePVeterinaire }}</div>
                        </div>
                        <div style="display: inline-block; padding-left: 5%">
                            <div style="display: inline-block">Supplément (optionnel) : &nbsp;</div><div style="display: inline-block;">{{ api_form.adresseSVeterinaire }}</div>
                        </div>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                            <div style="display: inline-block">Code postal : &nbsp;</div><div style="display: inline-block;">{{ api_form.codePostalVeterinaire }}</div>
                        </div>
                        <div style="display: inline-block; padding-left: 5%">
                            <div style="display: inline-block">Ville : &nbsp;</div><div style="display: inline-block;">{{ api_form.villeVeterinaire }}</div>
                        </div>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                            <div style="display: inline-block">Téléphone : &nbsp;</div><div style="display: inline-block;">{{ api_form.telephoneVeterinaire }}</div>
                        </div>
                    </div>
                    <br>

                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Agent Sanitaire</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                            <div style="display: inline-block">Adresse : &nbsp;</div><div style="display: inline-block;">{{ api_form.adressePAgentSanitaire }}</div>
                        </div>
                        <div style="display: inline-block; padding-left: 5%">
                            <div style="display: inline-block">Supplément (optionnel) : &nbsp;</div><div style="display: inline-block;">{{ api_form.adresseSAgentSanitaire }}</div>
                        </div>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                            <div style="display: inline-block">Code postal : &nbsp;</div><div style="display: inline-block;">{{ api_form.codePostalAgentSanitaire }}</div>
                        </div>
                        <div style="display: inline-block; padding-left: 5%">
                            <div style="display: inline-block">Ville : &nbsp;</div><div style="display: inline-block;">{{ api_form.villeAgentSanitaire }}</div>
                        </div>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-left: 5%; padding-right: 5%">
                            <div style="display: inline-block">Téléphone : &nbsp;</div><div style="display: inline-block;">{{ api_form.telephoneAgentSanitaire }}</div>
                        </div>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <button class="btn btn-primary" type="submit" style="width: 200px; height: 50px">Inscription</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>