body {
    margin: 0;
    top: 0;
}

ul.navbarMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(22, 76, 154, 0.94);

}

li.liNavBar {
    float: left;
}

ul.navbarMenu li.right {
    float: right;
    color: white
}

li.liNavBar a {
    text-decoration: none;
}

li.liNavBar a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.liNavBar a:hover, .dropdown2:hover .dropbtn {
    background-color: rgb(116, 153, 209);
    text-decoration: none;
    color: white;
    cursor: pointer;
}

li.dropdown2 {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(116, 153, 209);
    text-decoration: none;
    color: white;
}

.dropdown2:hover .dropdown-content {
    display: block;
}

.active {
    background-color: rgb(116, 153, 209);
    color: white;
}

.helptext {
    visibility: hidden;
}

.menuMobile {
    display: none;
}

@media screen and (max-width: 600px) {
    ul.navbarMenu {
        display: none;
    }
    .menuMobile {
        display: block;
    }
}

i.fa-bars {
    /*soit une fleche*/
    color: #bdbd00;
}


#my-menu{
    background-color: black;
    color: #fff;
    text-align:center;
    width: 250px;
}
#my-menu label{
    cursor:pointer;
}
/* le bloc n'est pas visible lorsque la checkbox n'est pas cochée */
#my-block{
    display: none;
    line-height:100px;
    border: 1px dotted #fff;
    margin:2px;
}
/* le bloc est visible lorsque la checkbox est cochée */
#toggle-block:checked + #my-block{
   display: block;
}


/*feuille visite*/

form.formVisite p {
    display: block;
}

ul#id_conditionClimatique {
    display: inline-block;
}

ul#id_conditionClimatique li {
    display: inline-block;
}

