body {
    margin: 0;
    top: 0;
}

ul.navbarMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C5F90;

    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.45);

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 3;
}

li.liNavBar {
    float: left;
}

ul.navbarMenu li.right {
    float: right;
    color: white
}

li.liNavBar a {
    text-decoration: none;
}

li.liNavBar a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.liNavBar a:hover, .dropdown2:hover .dropbtn {
    background-color: #72AAD9;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

li.dropdown2 {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #72AAD9;
    text-decoration: none;
    color: white;
}

.dropdown2:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #72AAD9;
    color: white;
}

.helptext {
    visibility: hidden;
}

.menuMobile {
    display: none;
}

@media screen and (max-width: 1102px) {
    ul.navbarMenu {
        display: none;
    }
    .imgTop {
        display: none;
    }
    .menuMobile {
        display: block;
    }
    .divDate {
        margin: 0 15px 0 0;
    }
    #id_remarque, #id_notes, #id_note, #id_remarques, #id_message {
        width: 200px;
        height: 100px;
    }
    .parti {
        padding-left: 10%;
    }
    ul#id_couleurReineMarque, ul#id_maladieTraitement, ul#id_nuisible, ul#id_typeAlimentNourrissement, ul#id_apport, ul#id_ponction, ul#id_reineMarqueeManipulation {
        display: block !important;
    }
    ul#id_couleurReineMarque li, ul#id_maladieTraitement li, ul#id_nuisible li, ul#id_typeAlimentNourrissement li, ul#id_apport li, ul#id_ponction li, ul#id_reineMarqueeManipulation li {
        display: block !important;
    }

    ul#id_typeAlimentNourrissement, ul#id_typeAlimentNourrissement li{
        vertical-align: top;
    }

    #chart-temp, #chart-hum, #chart-bat, #chart-poids {
        width: 310px !important;
        height: 300px !important;
    }

    tbody td {
        display: block;
        width: 100% !important;
    }

    tbody b, tbody .donnees {
        display: inline !important;
    }

    .table100-head {
        display: none;
    }

    .actionForm form {
        display: block !important;
    }

    .actionForm form div {
        height: 5px !important;
    }

    .table100 {
        height: auto;
        padding-top: 0 !important;
    }

    .table100-body {
        height: 100%;
        max-height: 550px !important;
    }

    .etat {
        display: block !important;
    }

    .limiter {
        padding-bottom: 10% !important;
    }

    .imgAccueil {
        display: none !important;
    }

    .imgAccueil2, .texteAccueil {
        width: 100% !important;
        display: block !important;
    }

    .texteAccueil {
        position: relative !important;
    }

    .texteAccueil div {
        top: 0 !important;
        left: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: auto !important;
        text-align: center;
    }

    .titreAccueil {
        font-size: 30px !important;
        top: 0 !important;
        left: 0 !important;
        margin-left: 5% !important;
        margin-top: 50px !important;
        width: auto !important;
    }

    .paraAcceuil {
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 17px !important;
        text-align: left;
    }

    .table100.ver5 td {
        background-color: #ececec !important;
    }

    .table100.ver5 .table100-body td:first-child {
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 10px;
    }

    .table100.ver5 .table100-body td:last-child {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0 !important;
    }

    .btnBleuDetails, .btnBleuModif, .btnRg {
        width: 50%;
    }

    table b {
        color: #1C5F90;
    }

    .Colonies, .ajoutColonies {
        display: inline-block;
        left: 50%;
    }

    .addRecolte, .addTrait, .addNour, .colonieTable {
        text-align: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .addRecolte tr td, .addTrait tr td, .addNour tr td, .colonieTable tr td {
        padding-left: 15%;
        text-align: left !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .addRecolte td.tdDate {
        padding-left: 10% !important;
    }

    .divTextArea {
        margin-left: 25% !important;
    }

    .tabbable {
        text-align: center;
    }

    .tabbable ul {
        margin-bottom: 0 !important;
    }

    .tabbable ul li div {
        text-align: center !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-radius: 10px !important;
    }

    .tdDate, .tdDate b {
        margin-left: 0 !important;
        text-align: center !important;
    }

    .preDate {
        text-align: center !important;
        display: block !important;
    }

    #map {
        width: 350px !important;
        height: 300px !important;
    }

}

#my-menu{
    background-color: black;
    color: #fff;
    text-align:center;
    width: 250px;
}
#my-menu label{
    cursor:pointer;
}
/* le bloc n'est pas visible lorsque la checkbox n'est pas cochée */
#my-block{
    display: none;
    line-height:100px;
    border: 1px dotted #fff;
    margin:2px;
}
/* le bloc est visible lorsque la checkbox est cochée */
#toggle-block:checked + #my-block{
   display: block;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    padding-right: 10%;
    padding-left: 5%;
    margin: 0 0 2%;
}

.container-table100 {
  width: 100%;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0;
}

.wrap-table100 {
  width: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
    width: 5%;
    text-align: center;
}

.column2 {
    width: 8%;
    text-align: center;
}

.column3 {
    width: 6%;
    text-align: center;
}

.column4 {
    width: 6%;
    text-align: center;
}

.column5 {
    width: 7%;
    text-align: center;
}

.column6 {
    width: 9%;
    text-align: center;
}

.column7 {
    width: 33%;
    text-align: center;
}

.column8 {
    width: 25%;
    text-align: center;
}

.column9 {
    text-align: center;
}

.column10{
    width: 15%;
    text-align: center;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 0;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}

/*==================================================================
[ Ver5 ]*/
.table100.ver5 {
  margin-right: -30px;
}

.table100.ver5 .table100-head {
  padding-right: 0px;
}

.table100.ver5 th {
    font-family: "Avenir Next", sans-serif !important;
    font-size: 15px;
    color: #fff;
    /*line-height: 1.4;*/
    text-transform: uppercase;

    background-color: rgba(28, 95, 144, 0.70);
}

.table100.ver5 td {
  font-family: "Avenir Next", sans-serif !important;
  font-size: 16px;
  color: black;
  line-height: 1.4;

  background-color: #f7f7f7;
}

.table100.ver5 .table100-body tr {
  overflow: hidden;
  border-bottom: 10px solid #ffffff;
  border-radius: 10px;
}

.table100.ver5 .table100-body table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table100.ver5 .table100-body td {
    border: solid 1px transparent;
    border-style: solid none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table100.ver5 .table100-body td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.table100.ver5 .table100-body td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.table100.ver5 tr:hover td {
  background-color: #ebebeb;

}

.table100.ver5 .table100-head th {
  padding-top: 15px;
  padding-bottom: 20px;
}

/*---------------------------------------------*/

.table100.ver5 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver5 .table100-body{
    padding-right: 0;
    margin-top: 20px;
}

.table100.ver5 .ps__rail-y {
  right: 5px;
}

.table100.ver5 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver5 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}


/*-------------------------------------------------------*/

h2 {
    padding-top: 50px;
    /*padding-bottom: 5px;*/
    padding-left: 5%;
    margin-bottom: 0 !important;
    color: #1C5F90;
}

.divTitre {
    padding-left: 8%;
    padding-top: 50px;
    padding-bottom: 8px;
}

/*feuille visite*/

.multipleForm {
    padding-bottom: 5%;
}

.container-form {
    min-width: 50%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.bigTitleForm {
    background-color: #ececec;
    margin: 0;
    text-align: center;
    color: #1C5F90;
    font-size: 20pt;
    padding: 5% 50px 5%;
}

.titleForm {
    border-radius: 5px;
    overflow: hidden;
    color: #1C5F90;
    background-color: white;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.45);
    -o-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.45);
    -ms-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.45);
}

.subTitleForm {
    display: inline-block;
}

.formVisite {
    text-align: justify;
    padding-top: 5%;
    padding-bottom: 5%;
}

.formFeuille {
    text-align: justify;
    padding-top: 5%;
    padding-bottom: 5%;
}

.formVisite ul {
    list-style-type: none;
    text-align: justify;
    padding-left: 45%;
}

.formVisite ul#id_user {
    width: auto;
    text-align: center !important;
    padding-left: 0 !important;
}

form.formVisite p {
    display: block;
    text-align: center;
}

ul label {
    font-weight: normal !important;
}

ul#id_conditionClimatique {
    text-align: justify;
    padding-left: 45%;
    list-style-type: none;
}

ul#id_attitudeAbeillles {
    text-align: justify;
    padding-left: 45%;
    list-style-type: none;
}

.parti {
    display: inline-block;
    /*padding-left: 20%;*/
}

ul#id_origineReine, ul#id_reinePresente, ul#id_presenceCelluleRoyale, ul#id_presenceCelluleRoyaleOrigine, ul#id_presenceCelluleRoyale {
    padding-left: 10px;
}

ul#id_partition, ul#id_couvainCompact, ul#id_couvainMosaique, ul#id_couvainChauve, ul#id_presenceOeuf, ul#id_cadreCouvain, ul#id_reineMarquee, ul#id_couleurReineMarque, ul#id_celluleFauxBourdons, ul#id_presenceFauxBourdons, ul#id_maladieTraitement, ul#id_nuisible, ul#id_recoltePropolis, ul#id_recoltePollen, ul#id_typeAlimentNourrissement, ul#id_apport, ul#id_ponction, ul#id_reineMarqueeManipulation, ul#id_etatColonie {
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 0;
}

ul#id_partition li, ul#id_couvainCompact li, ul#id_couvainMosaique li, ul#id_couvainChauve li, ul#id_presenceOeuf li, ul#id_cadreCouvain li, ul#id_reineMarquee li, ul#id_couleurReineMarque li,  ul#id_presenceCelluleRoyale li, ul#id_celluleFauxBourdons li, ul#id_presenceFauxBourdons li, ul#id_maladieTraitement li, ul#id_nuisible li, ul#id_recoltePropolis li, ul#id_recoltePollen li, ul#id_typeAlimentNourrissement li, ul#id_apport li, ul#id_ponction li, ul#id_reineMarqueeManipulation li, ul#id_etatColonie li {
    display: inline-block;
    margin-right: 15px;
}

#id_nombre_de_cadres, #id_codePostal, #id_nombreRuellesOccupees, #id_nombreCadresCouvain, #id_nombreCadreCireGauffreeIntroduit, #id_nombreHausse, #id_nombreCadresOeuf, #id_nombreCadresCouvain2, #id_quantiteAlimentNourrissement, #id_nombreCadresColonie, #id_quantite, #id_codePostalApi, #id_codePostalGDSA, #id_codePostalVeterinaire, #id_codePostalAgentSanitaire {
    width: 75px;
}

/*#id_couleurReineMarque li, #id_maladieTraitement li {*/
/*    margin-right: 15px;*/
/*}*/

.divDate ul {
    padding-left: 0 !important;
}

.titleForm ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.titleForm ul li {
    width: 50%;
}

.modif {
    width: 100%;
}


#id_nom {
    width: 100px;
}

#id_methodeUtilisee {
    width: 80%;
    height: 200px;
}

[type="checkbox"]:checked + label {
  cursor: pointer;    /* affiche un curseur adapté */
}

.divChoixUser {
    max-height: 150px;
    text-align: left;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.45);
}

#id_user {
    list-style-type: none;
}

#id_user li {
    width: max-content;
    display: block;
    padding-right: 20px;
}

#id_user li label {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#id_user li input {
    cursor: pointer;
}

#id_user li input:checked {
    background-color: #1C5F90;
}

#detailsVille:hover {
    text-decoration: underline;
}

#chart-temp, #chart-hum, #chart-bat, #chart-poids {
    width: 720px;
    height: 450px;
}

.btnBleuAjout {
    background-color: #C7CFCF !important;
}

.btnBleuDetails {
    background-color: #ADD8E6 !important;
}

.btnBleuModif {
    background-color: #87CEFA !important;
}

.btnRg {
    background-color: #d7665d !important;
}

.inscription, .login, .colonieTable, .addRecolte, .addTrait, .addNour {
    border-collapse: separate;
    border-spacing: 10px;
}

.inscription td.td2 {
    width: 430px;
    margin-right: 2%;
    padding-right: 0 !important;
}

.inscription td.supp {
    width: 500px;
    padding-right: 0 !important;
    margin-right: 2%;
}

.inscription td.td1 {
    width: 350px;
    margin-left: 3%;
    padding-right: 0 !important;
}

.inscription td.tdCodePostalLabel {
    width: 149px;
    margin-left: 2%;
    padding-right: 0 !important;
}

.login {
    width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.colonieTable td.td1 {
    width: 350px;
    margin-left: 75px;
    padding-right: 0 !important;
}

.colonieTable td.td2 {
    width: 350px;
    margin-right: 130px;
    padding-right: 0 !important;
}

.colonieTable td.td2C {
    width: 350px;
    margin-right: 152px;
    padding-right: 0 !important;
}

.tdDate {
    width: 350px;
    margin-left: 180px;
}

.addRecolte td.td1N {
    width: 350px;
    margin-left: 14px;
    padding-right: 0 !important;
}

.addRecolte td.td1 {
    width: 350px;
    margin-left: 75px;
    padding-right: 0 !important;
}

.addRecolte td.tdDate {
    width: 310px;
    margin-right: 89px;
    padding-right: 0 !important;
}

.addRecolte td.td2C {
    width: 310px;
    margin-right: 160px;
    padding-right: 0 !important;
}

.addTrait td.td1A {
    width: 310px;
    margin-left: 5px;
    padding-right: 0 !important;
}

.addTrait td.tdDate {
    width: 350px;
    margin-left: 80px;
    padding-right: 0 !important;
}

.addTrait td.td1M {
    width: 350px;
    margin-left: 68px;
    padding-right: 0 !important;
}

.addTrait td.td2C {
    width: 250px;
    margin-right: 255px;
    padding-right: 0 !important;
}

.addTrait td.td2M {
    width: 350px;
    margin-right: 80px;
    padding-right: 0 !important;
}

.addNour td.td1C {
    width: 210px;
    margin-left: 80px;
    padding-right: 0 !important;
}

.addNour td.td1T {
    width: 350px;
    margin-left: 33px;
    padding-right: 0 !important;
}

.addNour td.td1P {
    width: 350px;
    margin-left: 115px;
    padding-right: 0 !important;
}

.addNour td.tdDate {
    width: 350px;
    margin-right: 75px;
    padding-right: 0 !important;
}

.addNour td.td2T {
    width: 250px;
    margin-right: 187px;
    padding-right: 0 !important;
}

.addNour td.td2Q {
    width: 220px;
    margin-right: 195px;
    padding-right: 0 !important;
}

.tabbable .nav-tabs.wizard {
  background-color: transparent;
  padding: 0;
  width: 100%;
  margin: 1em auto;
  border-radius: .25em;
  clear: both;
  border-bottom: none;
}

.tabbable .nav-tabs.wizard li {
  width: 100%;
  float: none;
  margin-bottom: 3px;
}

.tabbable .nav-tabs.wizard li>* {
  position: relative;
  padding: 1em .8em .8em 2.5em;
  color: #999999;
  background-color: #dedede;
  border-color: #dedede;
}

.tabbable .nav-tabs.wizard li.completed>* {
  color: #fff !important;
  background-color: #96c03d !important;
  border-color: #96c03d !important;
  border-bottom: none !important;
}

.tabbable .nav-tabs.wizard li.active2>* {
  color: #fff !important;
  background-color: #2c3f4c !important;
  border-color: #2c3f4c !important;
  border-bottom: none !important;
}

.tabbable .nav-tabs.wizard li::after:last-child {
  border: none;
}

.tabbable .nav-tabs.wizard > li > div {
  opacity: 1;
  font-size: 14px;
}

.tabbable span.nmbr {
  display: inline-block;
  padding: 3px 0 0 0;
  background: #ffffff;
  width: 20px;
  line-height: 100%;
  height: 20px;
  margin: auto;
  border-radius: 50%;
  font-weight: bold;
  font-size: 15px;
  color: #555;
  margin-bottom: 10px;
  text-align: center;
}

@media(min-width:992px) {
    .tabbable .nav-tabs.wizard li {
        position: relative;
        padding: 0;
        margin: 4px 4px 4px 0;
        width: 16%;
        float: left;
        text-align: center;
    }

    .tabbable .nav-tabs.wizard li.active2 div {
        padding-top: 15px;
    }

    .tabbable .nav-tabs.wizard li::after,
    .tabbable .nav-tabs.wizard li > *::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 100%;
        height: 0;
        width: 0;
        border: 27.8px solid transparent;
        border-right-width: 0;
        /*border-left-width: 20px*/
    }

    .tabbable .nav-tabs.wizard li::after {
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #fff;
        margin: 0
    }

    .tabbable .nav-tabs.wizard li > *::after {
        z-index: 2;
        border-left-color: inherit
    }

    .tabbable .nav-tabs.wizard > li:nth-of-type(1) > div {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .tabbable .nav-tabs.wizard li:last-child div {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .tabbable .nav-tabs.wizard li:last-child {
        margin-right: 0;
    }

    .tabbable .nav-tabs.wizard li:last-child div:after,
    .tabbable .nav-tabs.wizard li:last-child:after {
        content: "";
        border: none;
    }

    .tabbable span.nmbr {
        display: block;
    }
}


.reinitialise {
animation : none;
animation-delay : 0;
animation-direction : normal;
animation-duration : 0;
animation-fill-mode : none;
animation-iteration-count : 1;
animation-name : none;
animation-play-state : running;
animation-timing-function : ease;
backface-visibility : visible;
    background-clip : border-box;
    background-origin : padding-box;
    background-position-x : 0;
background-position-y : 0;
    background: transparent none repeat scroll 0 0;
    background-size : auto auto;
    border-collapse : separate;
border-image : none;
    border-spacing : 0;
    border-radius: 0;
    border: medium none inherit;
    bottom : auto;
box-shadow : none;
box-sizing : content-box;
caption-side : top;
clear : none;
clip : auto;
color : inherit;
columns : auto;
column-count : auto;
column-fill : balance;
column-gap : normal;
column-rule : medium none currentColor;
column-rule-color : currentColor;
column-rule-style : none;
column-rule-width : none;
column-span : 1;
column-width : auto;
content : normal;
counter-increment : none;
counter-reset : none;
cursor : auto;
direction : ltr;
display : inline;
empty-cells : show;
float : none;
font : normal;
font-family : inherit;
font-size : medium;
font-style : normal;
font-variant : normal;
font-weight : normal;
height : auto;
hyphens : none;
left : auto;
letter-spacing : normal;
line-height : normal;
    list-style: disc outside none;
    margin: 0;
    max-height : none;
max-width : none;
min-height : 0;
min-width : 0;
opacity : 1;
orphans : 0;
    outline: invert none medium;
    overflow : visible;
overflow-x : visible;
overflow-y : visible;
    padding: 0;
    page-break-after : auto;
page-break-before : auto;
page-break-inside : auto;
perspective : none;
perspective-origin : 50% 50%;
position : static;
/* Vous devrez modifier les quotes selon le langage de la page (ici il s'agit du Langage Français) */
quotes : '201C' '201D' '2018' '2019';
right : auto;
tab-size : 8;
table-layout : auto;
text-align : inherit;
text-align-last : auto;
text-decoration : none;
text-decoration-color : inherit;
text-decoration-line : none;
text-decoration-style : solid;
text-indent : 0;
text-shadow : none;
text-transform : none;
top : auto;
transform : none;
transform-style : flat;
transition : none;
transition-delay : 0s;
transition-duration : 0s;
transition-property : none;
transition-timing-function : ease;
unicode-bidi : normal;
vertical-align : baseline;
visibility : visible;
white-space : normal;
widows : 0;
width : auto;
word-spacing : normal;
z-index : auto;
}

.reinitialise ul {
    padding-left: 0 !important;
    /*float: none !important;*/
}

.preDate {
    text-align: center !important;
}

.preDate .tdDate {
    margin-left: 0 !important;
    text-align: center !important;
}

#id_ruchers {
    padding-left: 0 !important;
}

#id_ruchers li {
    display: inline-block;
}

#map {
    height: 600px;
    width: 1200px;
}