{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ruches</title>
    <style type="text/css">
            @page{
                size: A4;
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
    </style>
</head>
<body>
<div>
    <h2 style="text-align: center">VISITE DE RUCHE</h2>
    <div>
        <div>
            <p style="display: inline-block; margin: auto">Date: </p>
            <div style="display: inline-block">{{ f.date }}</div>
        </div>
        <div>
            <p style="display: inline-block; margin: auto">Rucher: </p>
            <div style="display: inline-block">{{ f.rucher}}</div>
        </div>
        <div>
            <p style="display: inline-block; margin: auto">Ruche: </p>
            <div style="display: inline-block">{{ f.colonie }}</div>
        </div>
        <div>
            <p style="display: inline-block; margin: auto">Type de Ruche: </p>
            <div style="display: inline-block">{{ f.typeRuche }}</div>
        </div>
        <div>
            <p style="display: inline-block; margin: auto">Condition climatique: </p>
            <div style="display: inline-block">
                {% if f.conditionClimatique == "Nuage" %}
                &#9745;
                {% else %}
                &#9744;
                {% endif %}
                <p style="display: inline-block; margin: auto">Nuage</p>
            </div>

            <div style="display: inline-block">
                {% if f.conditionClimatique == "Soleil" %}
                &#9745;
                {% else %}
                &#9744;
                {% endif %}
                <p style="display: inline-block; margin: auto">Soleil</p>
            </div>

            <div style="display: inline-block">
                {% if f.conditionClimatique == "Vent" %}
                &#9745;
                {% else %}
                &#9744;
                {% endif %}
                <p style="display: inline-block; margin: auto">Vent</p>
            </div>
        </div>
    </div>
    <div>
        <h3>Avant d'ouvrir la ruche</h3>
        <div>
            <p style="display: inline-block; margin: auto">Trafic à l'entrée de la ruche: </p>
            <div style="display: inline-block">
                {% if f.traficEntreeRuche == "Fort" %}
                &#9745;
                {% else %}
                &#9744;
                {% endif %}
                <p style="display: inline-block; margin: auto">Fort</p>
            </div>
            <div style="display: inline-block">
                {% if f.traficEntreeRuche == "Normal" %}
                &#9745;
                {% else %}
                &#9744;
                {% endif %}
                <p style="display: inline-block; margin: auto">Normal</p>
            </div>
            <div style="display: inline-block">
                {% if f.traficEntreeRuche == "Faible" %}
                &#9745;
                {% else %}
                &#9744;
                {% endif %}
                <p style="display: inline-block; margin: auto">Faible</p>
            </div>
        </div>
        <div>
            <p style="display: inline-block; margin: auto">Abeiles rentrant du Pollen: </p>
            <div style="display: inline-block">
                {% if f.abeillesRentrantPollen == "Oui" %}
                &#9745;
                {% else %}
                &#9744;
                {% endif %}
                <p style="display: inline-block; margin: auto">Oui</p>
            </div>
            <div style="display: inline-block">
                {% if f.abeillesRentrantPollen == "Non" %}
                &#9745;
                {% else %}
                &#9744;
                {% endif %}
                <p style="display: inline-block; margin: auto">Non</p>
            </div>
        </div>
        <div>
            <p style="display: inline-block; margin: auto">Abeiles mortes à l'extérieur: </p>
            <div style="display: inline-block">
                {% if f.abeillesMortesExterieur == "Oui" %}
                &#9745;
                {% else %}
                &#9744;
                {% endif %}
                <p style="display: inline-block; margin: auto">Oui</p>
            </div>
            <div style="display: inline-block">
                {% if f.abeillesMortesExterieur == "Non" %}
                &#9745;
                {% else %}
                &#9744;
                {% endif %}
                <p style="display: inline-block; margin: auto">Non</p>
            </div>
        </div>
    </div>
    <div>
        <h3>Après ouverture de la ruche</h3>
        <div>
            <div>
                <p style="display: inline-block; margin: auto">Attitude des abeilles: </p>
                <div style="display: inline-block">
                    {% if f.attitudeAbeilles == "Calmes" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Calmes</p>
                </div>
                <div style="display: inline-block">
                    {% if f.attitudeAbeilles == "Nerveuses" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Nerveuses</p>
                </div>
                <div style="display: inline-block">
                    {% if f.attitudeAbeilles == "Agressives" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Agressives</p>
                </div>
            </div>
        </div>
        <div>
            <h4>Cadres</h4>
            <div>
                <p style="display: inline-block; margin: auto">Nombre de cadres: </p>
                <div style="display: inline-block">
                    {{ f.nombreCadresColonie }}
                </div>

                <div style="display: inline-block; float: right">
                    {% if f.partition == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
                <div style="display: inline-block; float: right">
                    {% if f.partition == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <p style="display: inline-block; margin: auto; float: right">Partition: </p>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Nombre de ruelles occupées: </p>
                <div style="display: inline-block">
                    {{ f.nombreRuellesOccupees }}
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Nombre de cadres de couvain: </p>
                <div style="display: inline-block">
                    {{ f.nombreCadresCouvain }}
                </div>
            </div>
            <div>
                <p style="display: inline-block">Nombre de cadre de cire gauffrée introduit: </p>
                <div style="display: inline-block">
                    {{ f.nombreCadreCireGauffreeIntroduit }}
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Nombre de Hausse: </p>
                <div style="display: inline-block">
                    {{ f.nombreHausse }}
                </div>
            </div>
        </div>
        <div>
            <h4>Couvain</h4>
            <div>
                <p style="display: inline-block; margin: auto">Compact: </p>
                <div style="display: inline-block">
                    {% if f.couvainCompact == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.couvainCompact == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
                <p style="display: inline-block; margin: auto">(si coché oui, entraine bonne reine)</p>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Mosaïque: </p>
                <div style="display: inline-block">
                    {% if f.couvainMosaique == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.couvainMosaique == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
                <p style="display: inline-block; margin: auto">(si coché oui, risque Loque ou Varroa)</p>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Chauve: </p>
                <div style="display: inline-block">
                    {% if f.couvainChauve == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.couvainChauve == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
                <p style="display: inline-block; margin: auto">(si coché oui, risque de teigne)</p>
            </div>
            <br>
            <div>
                <p style="display: inline-block; margin: auto">Présence d'oeufs: </p>
                <div style="display: inline-block">
                    {% if f.presenceOeuf == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.presenceOeuf == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
                <div style="display: inline-block; float: right">
                    {{ f.nombreCadresOeuf }}
                </div>
                <p style="display: inline-block; margin: auto; float: right">Nombre de cadres: &nbsp</p>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Cadre de Couvain: </p>
                <div style="display: inline-block">
                    {% if f.cadreCouvain == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.cadreCouvain == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
                <div style="display: inline-block; float: right">
                    {{ f.nombreCadresCouvain2 }}
                </div>
                <p style="display: inline-block; margin: auto; float: right">Nombre de cadres: &nbsp</p>
            </div>
        </div>
        <div>
            <h4>Reine</h4>
            <div>
                <p style="display: inline-block;margin: auto">Origine reine: </p>
                <div style="display: inline-block">
                    {% if f.origineReine == "Elevage" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Elevage</p>
                </div>
                <div style="display: inline-block">
                    {% if f.origineReine == "Essaimage" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Essaimage</p>
                </div>
                <div style="display: inline-block">
                    {% if f.origineReine == "Remerrage" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Remerrage</p>
                </div>
            </div>
            <div>
                <p style="display: inline-block;margin: auto">Reine présente: </p>
                <div style="display: inline-block">
                    {% if f.reinePresente == "Vue" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Vue</p>
                </div>
                <div style="display: inline-block">
                    {% if f.reinePresente == "Pas vue" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Pas vue</p>
                </div>
                <div style="display: inline-block">
                    {% if f.reinePresente == "Absente" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Absente</p>
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Reine marquée: </p>
                <div style="display: inline-block">
                    {% if f.reineMarquee == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.reineMarquee == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
                {% if f.couleurReineMarque == "Vert" %}
                <mark style="background: yellow; color: black; display: inline-block; margin: auto; float: right">Vert</mark>
                {% else %}
                <p style="display: inline-block; margin: auto; float: right">&nbsp Vert &nbsp</p>
                {% endif %}
                {% if f.couleurReineMarque == "Rouge" %}
                <mark style="background: yellow; color: black; display: inline-block; margin: auto; float: right">Rouge</mark>
                {% else %}
                <p style="display: inline-block; margin: auto; float: right">&nbsp Rouge &nbsp</p>
                {% endif %}
                {% if f.couleurReineMarque == "Jaune" %}
                <mark style="background: yellow; color: black; display: inline-block; margin: auto; float: right">Jaune</mark>
                {% else %}
                <p style="display: inline-block; margin: auto; float: right">&nbsp Jaune &nbsp</p>
                {% endif %}
                {% if f.couleurReineMarque == "Blanc" %}
                <mark style="background: yellow; color: black; display: inline-block; margin: auto; float: right">Blanc</mark>
                {% else %}
                <p style="display: inline-block; margin: auto; float: right">&nbsp Blanc &nbsp</p>
                {% endif %}
                {% if f.couleurReineMarque == "Bleu" %}
                <mark style="background: yellow; color: black; display: inline-block; margin: auto; float: right">Bleu</mark>
                {% else %}
                <p style="display: inline-block; margin: auto; float: right">&nbsp Bleu &nbsp</p>
                {% endif %}
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Présence  cellule royale: </p>
                <div style="display: inline-block">
                    {% if f.presenceCelluleRoyale == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.presenceCelluleRoyale == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>

                <div style="display: inline-block; float: right">
                    {% if f.presenceCelluleRoyaleOrigine == "Elevage" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Elevage</p>
                </div>
                <div style="display: inline-block; float: right">
                    {% if f.presenceCelluleRoyaleOrigine == "Sauveté" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Sauveté</p>
                </div>
                <div style="display: inline-block; float: right">
                    {% if f.presenceCelluleRoyaleOrigine == "Essaim" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Essaim</p>
                </div>
            </div>
        </div>
        <br>
        <div>
            <h4>Faux-Bourdons</h4>
            <div>
                <p style="display: inline-block; margin: auto">Cellule Faux-Bourdons: </p>
                <div style="display: inline-block">
                    {% if f.celluleFauxBourdons == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.celluleFauxBourdons == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Présence Faux-Bourdons: </p>
                <div style="display: inline-block">
                    {% if f.presenceFauxBourdons == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.presenceFauxBourdons == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
            </div>
        </div>
        <div>
            <h4>Maladie et Traitement</h4>
            <div>
                <div style="display: inline-block">
                    {% if f.maladieTraitement == "rien" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Rien</p>
                </div>
                <div style="display: inline-block">
                    {% if f.maladieTraitement == "Nosema" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Nosema</p>
                </div>
                <div style="display: inline-block">
                    {% if f.maladieTraitement == "Couvain platré" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Couvain platré</p>
                </div>
                <div style="display: inline-block">
                    {% if f.maladieTraitement == "Loque Européenne" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Loque Européenne</p>
                </div>
                <div style="display: inline-block">
                    {% if f.maladieTraitement == "Loque Américaine" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Loque Américaine</p>
                </div>
                <div style="display: inline-block">
                    {% if f.maladieTraitement == "Varroa" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Varroa</p>
                </div>
                <div style="display: inline-block">
                    {% if f.maladieTraitement == "Autre" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Autre</p>
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin-bottom: auto">Methode utilisée: </p>
                <div style="display: inline-block">&nbsp {{ f.methodeUtilisee }}</div>
            </div>
        </div>
        <div>
            <h4>Nuisible</h4>
            <div>
                <div style="display: inline-block">
                    {% if f.nuisible == "rien" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display:inline-block; margin: auto">Rien</p>
                </div>
                <div style="display: inline-block">
                    {% if f.nuisible == "Teigne" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Teigne</p>
                </div>
                <div style="display: inline-block">
                    {% if f.nuisible == "Scarabé" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Scarabé</p>
                </div>
                <div style="display: inline-block">
                    {% if f.nuisible == "Frelon Asiatique" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Frelon Asiatique</p>
                </div>
                <div style="display: inline-block">
                    {% if f.nuisible == "Guêpe" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Guêpe</p>
                </div>
                <div style="display: inline-block">
                    {% if f.nuisible == "Autre" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Autre</p>
                </div>
            </div>
        </div>
        <div>
            <h4>Autre</h4>
            <div>
                <p style="display: inline-block; margin: auto">Récolte Propolis: </p>
                <div style="display: inline-block">
                    {% if f.recoltePropolis == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.recoltePropolis == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Récolte de pollen: </p>
                <div style="display: inline-block">
                    {% if f.recoltePollen == "Oui" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Oui</p>
                </div>
                <div style="display: inline-block">
                    {% if f.recoltePollen == "Non" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Non</p>
                </div>
            </div>
        </div>
        <div>
            <h4>Nourrissement</h4>
            <div>
                <p style="display: inline-block; margin: auto">Type aliment: </p>
                <div style="display: inline-block">
                    {% if f.typeAlimentNourrissement == "rien" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Rien</p>
                </div>
                <div style="display: inline-block">
                    {% if f.typeAlimentNourrissement == "Sirop" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Sirop</p>
                </div>
                <div style="display: inline-block">
                    {% if f.typeAlimentNourrissement == "Sirop 50/50" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Sirop 50/50</p>
                </div>
                <div style="display: inline-block">
                    {% if f.typeAlimentNourrissement == "Candy" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Candy</p>
                </div>
                <div style="display: inline-block">
                    {% if f.typeAlimentNourrissement == "Autre" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Autre</p>
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Quantité (gramme ou Litre): </p>
                <div style="display: inline-block">{{ f.quantiteAlimentNourrissement }}</div>
                <div style="display: inline-block;">{{ f.uniteNourrissement }}</div>
            </div>
        </div>
        <div>
            <h4>Apport</h4>
            <div>
                <div style="display: inline-block">
                    {% if f.apport == "Rien" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Rien</p>
                </div>
                <div style="display: inline-block">
                    {% if f.apport == "Miel" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Miel</p>
                </div>
                <div style="display: inline-block">
                    {% if f.apport == "Couvain" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Couvain</p>
                </div>
                <div style="display: inline-block">
                    {% if f.apport == "Abeilles" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Abeilles</p>
                </div>
                <div style="display: inline-block">
                    {% if f.apport == "Essaim nu ou sur cadre" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Essaim nu ou sur cadre</p>
                </div>
                <div style="display: inline-block">
                    {% if f.apport == "Reine" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Reine</p>
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Provenance: </p>
                <div style="display: inline-block">{{ f.provenanceApport }}</div>
            </div>
        </div>
        <div>
            <h4>Ponction</h4>
            <div>
                <div style="display: inline-block">
                    {% if f.ponction == "Rien" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Rien</p>
                </div>
                <div style="display: inline-block">
                    {% if f.ponction == "Miel" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Miel</p>
                </div>
                <div style="display: inline-block">
                    {% if f.ponction == "Couvain" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Couvain</p>
                </div>
                <div style="display: inline-block">
                    {% if f.ponction == "Abeilles" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Abeilles</p>
                </div>
                <div style="display: inline-block">
                    {% if f.ponction == "Essaim nu ou sur cadre" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Essaim nu ou sur cadre</p>
                </div>
                <div style="display: inline-block">
                    {% if f.ponction == "Reine" %}
                    &#9745;
                    {% else %}
                    &#9744;
                    {% endif %}
                    <p style="display: inline-block; margin: auto">Reine</p>
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Destination: </p>
                <div>{{ f.destinationPonction }}</div>
            </div>
        </div>
        <div>
            <h4>Manipulation</h4>
            <div>
                <p style="display: inline-block; margin: auto">Reine marquée: </p>
                {% if f.reineMarqueeManipulation == "Vert" %}
                <mark style="background: green; color: black; display: inline-block; margin: auto;">Vert</mark>
                {% else %}
                <p style="display: inline-block; margin: auto;">&nbsp Vert &nbsp</p>
                {% endif %}
                {% if f.reineMarqueeManipulation == "Rouge" %}
                <mark style="background: red; color: black; display: inline-block; margin: auto;">Rouge</mark>
                {% else %}
                <p style="display: inline-block; margin: auto;">&nbsp Rouge &nbsp</p>
                {% endif %}
                {% if f.reineMarqueeManipulation == "Jaune" %}
                <mark style="background: yellow; color: black; display: inline-block; margin: auto;">Jaune</mark>
                {% else %}
                <p style="display: inline-block; margin: auto;">&nbsp Jaune &nbsp</p>
                {% endif %}
                {% if f.reineMarqueeManipulation == "Blanc" %}
                <mark style="background: grey; color: black; display: inline-block; margin: auto;">Blanc</mark>
                {% else %}
                <p style="display: inline-block; margin: auto;">&nbsp Blanc &nbsp</p>
                {% endif %}
                {% if f.reineMarqueeManipulation == "Bleu" %}
                <mark style="background: cornflowerblue; color: black; display: inline-block; margin: auto;">Bleu</mark>
                {% else %}
                <p style="display: inline-block; margin: auto;">&nbsp Bleu &nbsp</p>
                {% endif %}
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Colonie déplacée: </p>
                <div style="display: inline-block">
                    <p style="display: inline-block; margin: auto">Le </p>
                    <div style="display: inline-block">
                    {% if f.colonieDeplacee %}
                    {{ f.colonieDeplacee }}
                    {% else %}
                    ..............
                    {% endif %}
                    </div>
                    <p style="display: inline-block; margin: auto"> &nbsp;à </p>
                    <div style="display: inline-block">
                    {% if f.destinationDeplacee %}
                    {{ f.destinationDeplacee }}
                    {% else %}
                    ..............
                    {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Essaimage Naturel: </p>
                <div style="display: inline-block">
                    <p style="display: inline-block; margin: auto">Le </p>
                    <div style="display: inline-block">
                    {% if f.essaimageNaturel %}
                    {{ f.essaimageNaturel }}
                    {% else %}
                    ..............
                    {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Remerage: </p>
                <div style="display: inline-block">
                    <p style="display: inline-block; margin: auto">Le </p>
                    <div style="display: inline-block">
                    {% if f.remerage %}
                    {{ f.remerage }}
                    {% else %}
                    ..............
                    {% endif %}
                    </div>
                </div>
                <p style="display: inline-block; margin: auto">&nbsp Origine: </p>
                <div style="display: inline-block">
                    {% if f.origineRemerage %}
                    {{ f.origineRemerage }}
                    {% else %}
                    ..............
                    {% endif %}
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Division Colonie: </p>
                <div style="display: inline-block">
                    <p style="display: inline-block; margin: auto">Le </p>
                    <div style="display: inline-block">
                    {% if f.divisionColonie %}
                    {{ f.divisionColonie }}
                    {% else %}
                    ..............
                    {% endif %}
                    </div>
                </div>
                <p style="display: inline-block; margin: auto">&nbsp Création ruche: </p>
                <div style="display: inline-block">
                    {% if f.creationRuche %}
                    {{ f.creationRuche }}
                    {% else %}
                    ..............
                    {% endif %}
                </div>
            </div>
            <div>
                <p style="display: inline-block; margin: auto">Réunion Colonie: </p>
                <div style="display: inline-block">
                    <p style="display: inline-block; margin: auto">Le </p>
                    <div style="display: inline-block">
                    {% if f.reunionColonie %}
                    {{ f.reunionColonie }}
                    {% else %}
                    ..............
                    {% endif %}
                    </div>
                </div>
                <p style="display: inline-block; margin: auto">&nbsp Libération ruche: </p>
                <div style="display: inline-block">
                    {% if f.liberationRuche %}
                    {{ f.liberationRuche }}
                    {% else %}
                    ..............
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        <br>
        <div>
            <h4>Récolte</h4>
            <div>
                <p style="display: inline-block; margin: auto">Nombre de hausse: </p>
                {% if f.nombreHausseRecolte %}
                <div style="display: inline-block">{{ f.nombreHausseRecolte }}</div>
                {% endif %}
            </div>
        </div>
        <div>
            <h4>Notes : </h4>
            <div>
                {{ f.notes }}
            </div>
        </div>
    </div>

</div>
</body>
</html>