{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" http-equiv="Refresh" CONTENT="120; URL={% url 'afficherColonieId' c.id %}">
    <title>Ruches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ProjetRuches/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.css" />

</head>
<body>
<div style="text-align: center">
    {% include "../../Nav/top.html" %}
</div>

<ul class="navbarMenu">
    <li class="liNavBar"><a href="/home">Accueil</a></li>
    <li class="liNavBar"><a href="/camerasUser">Caméras</a></li>
    <li class="liNavBar"><a href="/informationsUser">Informations</a></li>
    {% if user.is_authenticated %}
    <li class="liNavBar"><a href="/afficherRuchers">Gestion Ruchers</a></li>
    <li class="liNavBar"><a class="active" href="/afficherColonies">Gestion Colonies</a></li>
    <li class="right liNavBar"><a href="{% url 'logout' %}">Déconnexion</a></li>
    <li class="right liNavBar" style="height: 52px">
        <a href="/monCompte" style="padding-top: 0">
            {% if user.is_superuser %}
            <p style="margin-bottom: 0; font-size: 11pt">Bonjour {{ user.username }} (superuser)</p>
            {% else %}
            <p style="margin-bottom: 0; font-size: 11pt">Bonjour {{ user.username }}</p>
            {% endif %}
            Mon Compte
        </a>
    </li>
    {% if user.is_superuser %}
    <li class="right liNavBar"><a href="showUsersAdmin">Administration</a></li>
    {% endif %}
    {% else %}
    <li class="right liNavBar"><a href="{% url 'login' %}">Connexion</a></li>
    <li class="right liNavBar"><a href="inscription">Inscription</a></li>
    {% endif %}
</ul>
{% include "../../Nav/navigation.html" %}
<div>
    {% if user.is_authenticated %}
    <h2 style="color: #1C5F90">Colonie {{c.nom}} {{c.rucher}} </h2>
    <div>
        <div class="divTitre" style="padding-top: 20px">
            <h4 style="color: #1C5F90; display: inline-block;">Etat :</h4>
            {% for etat in etatColonie %}
            {% if etat.colonie == c %}
            {% if etat.etat == 'Critique' %}
            <img style="width: 30px; height: 30px; display: inline-block" src="{% static 'ProjetRuches/images/red_circle.png' %}" alt="redCircle">
            {% elif etat.etat == 'Normal' %}
            <img style="width: 30px; height: 30px; display: inline-block" src="{% static 'ProjetRuches/images/green_circle.png' %}" alt="greenCircle">
            {% elif etat.etat == 'A surveiller' %}
            <img style="width: 30px; height: 30px; display: inline-block" src="{% static 'ProjetRuches/images/orange_circle.png' %}" alt="orangeCircle">
            {% else %}
            <img style="width: 30px; height: 30px; display: inline-block" src="{% static 'ProjetRuches/images/interrogation.png' %}" alt="interrogationCircle">
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="divTitre" style="padding-top: 20px">
            <h4 style="color: #1C5F90;">Infos</h4>
        </div>
        {% if c %}
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver5 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column2">Identification</th>
                                    <th class="cell100 column3">Rucher</th>
                                    <th class="cell100 column4">Type de Ruche</th>
                                    <th class="cell100 column5">Nombre de cadres</th>
                                    <th class="cell100 column6">Date Création</th>
                                    <th class="cell100 column7">Dernière Remarque</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                {% for u in c.rucher.user.all %}
                                {% if u == user %}
                                <tr class="row100 body">
                                    <td class="cell100 column2">{{ c.nom }}</td>
                                    <td class="cell100 column3">{{ c.rucher }}</td>
                                    <td class="cell100 column4">{{ c.type }}</td>
                                    <td class="cell100 column5">{{ c.nombre_de_cadres }}</td>
                                    <td class="cell100 column6">{{ c.date }}</td>
                                    <td class="cell100 column7">{{ c.remarque }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% if user.is_staff %}
                                <tr class="row100 body">
                                    <td class="cell100 column2">{{ c.nom }}</td>
                                    <td class="cell100 column3">{{ c.rucher }}</td>
                                    <td class="cell100 column4">{{ c.type }}</td>
                                    <td class="cell100 column5">{{ c.nombre_de_cadres }}</td>
                                    <td class="cell100 column6">{{ c.date }}</td>
                                    <td class="cell100 column7">{{ c.remarque }}</td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p style="padding-left: 5%">Aucunes infos</p>
        {% endif %}
    </div>
    <div>
        <div class="divTitre">
            <h4 style="display: inline-block; color: #1C5F90; padding-right: 10px">Feuilles Visite</h4>
            <form method="get" style="display: inline-block; padding-left: 10px" action="{% url 'createFeuilleVisite' c.rucher c.nom 1 %}">
                <button type="submit" class="btn btn-primary m-0">
                    <img style="width: 20px;" src="{% static 'ProjetRuches/images/plus.png' %}" alt="plus">
                    Ajouter
                </button>
            </form>
        </div>
        {% if feuilles %}
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver5 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column6">date</th>
                                    <th class="cell100 column8">conditions climatiques</th>
                                    <th class="cell100 column7">Notes</th>
                                    <th class="cell100 column8">Télécharger</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                {% for f in feuilles %}
                                {% for u in c.rucher.user.all %}
                                {% if u == user %}
                                <tr class="row100 body">
                                    <td class="cell100 column6">{{ f.date }}</td>
                                    <td class="cell100 column8">{{ f.conditionClimatique }}</td>
                                    <td class="cell100 column7"><p style="max-height: 100px">{{ f.notes}}</p></td>
                                    <td class="cell100 column8">
                                        <a href="{% url 'afficherPDF' f.id %}">
                                            <img src="{% static 'ProjetRuches/images/pdf-page.png' %}" alt="pdf" width="35px" height="35px">
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% if user.is_staff %}
                                <tr class="row100 body">
                                    <td class="cell100 column6">{{ f.date }}</td>
                                    <td class="cell100 column8">{{ f.conditionClimatique }}</td>
                                    <td class="cell100 column7"><p style="max-height: 100px">{{ f.notes }}</p></td>
                                    <td class="cell100 column8">
                                        <a href="{% url 'afficherPDF' f.id %}">
                                            <img src="{% static 'ProjetRuches/images/pdf-page.png' %}" alt="pdf" width="35px" height="35px">
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p style="padding-left: 5%">Aucunes feuilles de visite</p>
        {% endif %}
    </div>
    <div>
        <div class="divTitre">
            <h4 style="display: inline-block; color: #1C5F90; padding-right: 10px">Nourrissements</h4>
            <form method="get" style="display: inline-block; padding-left: 10px" action="{% url 'ajouterNourrissement' c.rucher c.nom %}">
                <button type="submit" class="btn btn-primary m-0">
                    <img style="width: 20px" src="{% static 'ProjetRuches/images/plus.png' %}" alt="plus">
                    Ajouter
                </button>
            </form>
        </div>
        {% if nourri %}
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver5 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column6">date</th>
                                    <th class="cell100 column4">type nourrissement</th>
                                    <th class="cell100 column4">type aliment</th>
                                    <th class="cell100 column2">produit</th>
                                    <th class="cell100 column2">quantite</th>
                                    <th class="cell100 column7">Notes</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                {% for n in nourri %}
                                {% for u in c.rucher.user.all %}
                                {% if u == user %}
                                <tr class="row100 body">
                                    <td class="cell100 column6">{{ n.date }}</td>
                                    <td class="cell100 column4">{{ n.typeNourrissement }}</td>
                                    <td class="cell100 column4">{{ n.typeAliment }}</td>
                                    <td class="cell100 column2">{{ n.produit }}</td>
                                    <td class="cell100 column2">{{ n.quantite }}</td>
                                    <td class="cell100 column7">{{ n.note }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% if user.is_staff %}
                                <tr class="row100 body">
                                    <td class="cell100 column6">{{ n.date }}</td>
                                    <td class="cell100 column4">{{ n.typeNourrissement }}</td>
                                    <td class="cell100 column4">{{ n.typeAliment }}</td>
                                    <td class="cell100 column2">{{ n.produit }}</td>
                                    <td class="cell100 column2">{{ n.quantite }}</td>
                                    <td class="cell100 column7">{{ n.note }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p style="padding-left: 5%">Aucuns nourrissements</p>
        {% endif %}
    </div>
    <div>
        <div class="divTitre">
            <h4 style="display: inline-block; color: #1C5F90; padding-right: 10px">Traitements</h4>
            <form method="get" style="display: inline-block; padding-left: 10px" action="{% url 'ajouterTraitement' c.rucher c.nom %}">
                <button type="submit" class="btn btn-primary m-0">
                    <img style="width: 20px" src="{% static 'ProjetRuches/images/plus.png' %}" alt="plus">
                    Ajouter
                </button>
            </form>
        </div>
        {% if trait %}
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver5 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column2">Apiculteur</th>
                                    <th class="cell100 column6">date</th>
                                    <th class="cell100 column8">maladie</th>
                                    <th class="cell100 column2">methode</th>
                                    <th class="cell100 column2">posologie</th>
                                    <th class="cell100 column7">remarques</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                {% for t in trait %}
                                {% for u in c.rucher.user.all %}
                                {% if u == user %}
                                <tr class="row100 body">
                                    <td class="cell100 column2">{{ t.api }}</td>
                                    <td class="cell100 column6">{{ t.date }}</td>
                                    <td class="cell100 column8">{{ t.maladie }}</td>
                                    <td class="cell100 column2">{{ t.methode }}</td>
                                    <td class="cell100 column2">{{ t.posologie }}</td>
                                    <td class="cell100 column7">{{ t.remarques }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% if user.is_staff %}
                                <tr class="row100 body">
                                    <td class="cell100 column2">{{ t.api }}</td>
                                    <td class="cell100 column6">{{ t.date }}</td>
                                    <td class="cell100 column8">{{ t.maladie }}</td>
                                    <td class="cell100 column2">{{ t.methode }}</td>
                                    <td class="cell100 column2">{{ t.posologie }}</td>
                                    <td class="cell100 column7">{{ t.remarques }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p style="padding-left: 5%">Aucuns traitements</p>
        {% endif %}
    </div>
    <div>
        <div class="divTitre">
            <h4 style="display: inline-block; color: #1C5F90; padding-right: 10px">Récoltes</h4>
            <form method="get" style="display: inline-block; padding-left: 10px" action="{% url 'ajouterRecolte' c.rucher c.nom %}">
                <button type="submit" class="btn btn-primary m-0">
                    <img style="width: 20px" src="{% static 'ProjetRuches/images/plus.png' %}" alt="plus">
                    Ajouter
                </button>
            </form>
        </div>
        {% if recoltes %}
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver5 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column6">date</th>
                                    <th class="cell100 column2">produit recolte</th>
                                    <th class="cell100 column2">quantite</th>
                                    <th class="cell100 column7">notes</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                {% for r in recoltes %}
                                {% for u in c.rucher.user.all %}
                                {% if u == user %}
                                <tr class="row100 body">
                                    <td class="cell100 column6">{{ r.date }}</td>
                                    <td class="cell100 column2">{{ r.produitRecolte }}</td>
                                    <td class="cell100 column2">{{ r.quantite }}</td>
                                    <td class="cell100 column7">{{ r.note }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% if user.is_staff %}
                                <tr class="row100 body">
                                    <td class="cell100 column6">{{ r.date }}</td>
                                    <td class="cell100 column2">{{ r.produitRecolte }}</td>
                                    <td class="cell100 column2">{{ r.quantite }}</td>
                                    <td class="cell100 column7">{{ r.note }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p style="padding-left: 5%">Aucunes récoltes</p>
        {% endif %}
    </div>
    <div>
        <div class="divTitre">
            <h4 style="display: inline-block; color: #1C5F90; padding-right: 10px">Pesées</h4>
            <form method="get" style="display: inline-block; padding-left: 10px" action="{% url 'ajouterPesee' c.rucher c.nom %}">
                <button type="submit" class="btn btn-primary m-0">
                    <img style="width: 20px;" src="{% static 'ProjetRuches/images/plus.png' %}" alt="plus">
                    Ajouter
                </button>
            </form>
        </div>
        {% if pesees %}
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver5 m-b-100">
                        <div class="table100-head">
                            <table>
                                <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column6">date</th>
                                    <th class="cell100 column2">poids</th>
                                    <th class="cell100 column7">notes</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                {% for p in pesees %}
                                {% for u in c.rucher.user.all %}
                                {% if u == user %}
                                <tr class="row100 body">
                                    <td class="cell100 column6">{{ p.date }}</td>
                                    <td class="cell100 column2">{{ p.poids }}</td>
                                    <td class="cell100 column7">{{ p.note }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% if user.is_staff %}
                                <tr class="row100 body">
                                    <td class="cell100 column6">{{ p.date }}</td>
                                    <td class="cell100 column2">{{ p.poids }}</td>
                                    <td class="cell100 column7">{{ p.note }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p style="padding-left: 5%">Aucunes pesées</p>
        {% endif %}
    </div>
    {% else %}
    <p style="padding-left: 5%">You are not logged</p>
    {% endif %}
</div>

<script type="text/javascript">
    function validateRucher(form, rucher) {
        if (confirm("Voulez vous supprimer "+rucher+" ?") === false) {
            return false;
        } else {
            return true;
        }
    }
</script>
<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
</script>
</body>
</html>