{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ruches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ProjetRuches/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<ul class="navbarMenu">
    <li class="liNavBar"><a href="/home">Accueil</a></li>
    <li class="liNavBar"><a href="/camerasUser">Caméras</a></li>
    <li class="liNavBar"><a href="/informationsUser">Informations</a></li>
    {% if user.is_authenticated %}
    <li class="liNavBar"><a href="/afficherRuchers">Gestion Ruchers</a></li>
    <li class="liNavBar"><a class="active" href="/afficherColonies">Gestion Colonies</a></li>
    <li class="right liNavBar"><a href="{% url 'logout' %}">Déconnexion</a></li>
    <li class="right liNavBar"><a href="/monCompte">Mon Compte</a></li>
    {% if user.is_superuser %}
    <li class="right liNavBar"><a href="showUsersAdmin">Administration</a></li>
    <li class="right liNavBar">Bonjour {{ user.username }} (superuser)</li>
    {% else %}
    <li class="right liNavBar">Bonjour {{ user.username }}</li>
    {% endif %}
    {% else %}
    <li class="right liNavBar"><a href="{% url 'login' %}">Connexion</a></li>
    <li class="right liNavBar"><a href="inscription">Inscription</a></li>
    {% endif %}
</ul>
{% include "../../Nav/navigation.html" %}
<div>
    {% if user.is_authenticated %}
    <h2>Colonie {{c.nom}} {{c.rucher}} </h2>
    <div>
        <h4>Infos</h4>
        {% if c %}
        <div class="table-responsive" style="padding-right: 15%">
            <table class="table table-hover" style="text-align: center">
                <tr>
                    <th>Identification</th>
                    <th>Rucher</th>
                    <th>Type de Ruche</th>
                    <th>Nombre de cadres</th>
                    <th>Date Création</th>
                    <th>Dernière Remarque</th>
                </tr>
                {% for u in c.rucher.user.all %}
                {% if u == user %}
                <tr>
                    <td style="vertical-align: middle">{{ c.nom }}</td>
                    <td style="vertical-align: middle">{{ c.rucher }}</td>
                    <td style="vertical-align: middle">{{ c.type }}</td>
                    <td style="vertical-align: middle">{{ c.nombre_de_cadres }}</td>
                    <td style="vertical-align: middle">{{ c.date }}</td>
                    <td style="vertical-align: middle; width: 550px">{{ c.remarque }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% if user.is_staff %}
                <tr>
                    <td style="vertical-align: middle">{{ c.nom }}</td>
                    <td style="vertical-align: middle">{{ c.rucher }}</td>
                    <td style="vertical-align: middle">{{ c.type }}</td>
                    <td style="vertical-align: middle">{{ c.nombre_de_cadres }}</td>
                    <td style="vertical-align: middle">{{ c.date }}</td>
                    <td style="text-align: justify; width: 550px">{{ c.remarque }}</td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% else %}
        <p>Aucunes infos</p>
        {% endif %}
    </div>
    <div>
        <h4 style="display: inline-block">Feuilles Visite</h4>
        <form method="get" style="display: inline-block" action="{% url 'createFeuilleVisite' c.rucher c.nom 1 %}">
            <button type="submit" class="btn btn-warning m-0">Ajouter</button>
        </form>
        {% if feuilles %}
        <div class="table-responsive" style="padding-right: 15%">
            <table class="table table-hover" style="text-align: center">
                <tr>
                    <th>date</th>
                    <th>conditions climatiques</th>
                    <th>Notes</th>
                    <th>Télécharger</th>
                </tr>
                {% for f in feuilles %}
                {% for u in c.rucher.user.all %}
                {% if u == user %}
                <tr>
                    <td style="vertical-align: middle">{{ f.date }}</td>
                    <td style="vertical-align: middle">{{ f.conditionClimatique }}</td>
                    <td style="vertical-align: middle; width: 850px"><p style="max-height: 100px">{{ f.notes}}</p></td>
                    <td><a href="{% url 'afficherPDF' colonie.id %}"><img src="{% static 'ProjetRuches/images/pdf-page.png' %}" alt="pdf"></a></td>
                </tr>
                {% endif %}
                {% endfor %}
                {% if user.is_staff %}
                <tr>
                    <td style="vertical-align: middle">{{ f.date }}</td>
                    <td style="vertical-align: middle">{{ f.conditionClimatique }}</td>
                    <td style="vertical-align: middle; width: 850px"><p style="max-height: 100px">{{ f.notes }}</p></td>
                    <td><a href="{% url 'afficherPDF' f.id %}"><img src="{% static 'ProjetRuches/images/pdf-page.png' %}" alt="pdf" width="35px" height="35px"></a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p>Aucunes feuilles de visite</p>
        {% endif %}
    </div>
    <div>
        <h4 style="display: inline-block">Nourrissements</h4>
        <form method="get" style="display: inline-block" action="{% url 'ajouterNourrissement' c.rucher c.nom %}">
            <button type="submit" class="btn btn-warning m-0">Ajouter</button>
        </form>
        {% if nourri %}
        <div class="table-responsive" style="padding-right: 15%">
            <table class="table table-hover" style="text-align: center">
                <tr>
                    <th>date</th>
                    <th>type nourrissement</th>
                    <th>type aliment</th>
                    <th>produit</th>
                    <th>quantite</th>
                    <th>Notes</th>
                </tr>
                {% for n in nourri %}
                {% for u in c.rucher.user.all %}
                {% if u == user %}
                <tr>
                    <td style="vertical-align: middle">{{ n.date }}</td>
                    <td style="vertical-align: middle">{{ n.typeNourrissement }}</td>
                    <td style="vertical-align: middle">{{ n.typeAliment }}</td>
                    <td style="vertical-align: middle">{{ n.produit }}</td>
                    <td style="vertical-align: middle">{{ n.quantite }}</td>
                    <td style="vertical-align: middle; width: 850px">{{ n.note }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% if user.is_staff %}
                <tr>
                    <td style="vertical-align: middle">{{ n.date }}</td>
                    <td style="vertical-align: middle">{{ n.typeNourrissement }}</td>
                    <td style="vertical-align: middle">{{ n.typeAliment }}</td>
                    <td style="vertical-align: middle">{{ n.produit }}</td>
                    <td style="vertical-align: middle">{{ n.quantite }}</td>
                    <td style="vertical-align: middle; width: 850px">{{ n.note }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p>Aucuns nourrissements</p>
        {% endif %}
    </div>
    <div>
        <h4 style="display: inline-block">Traitements</h4>
        <form method="get" style="display: inline-block" action="{% url 'ajouterTraitement' c.rucher c.nom %}">
            <button type="submit" class="btn btn-warning m-0">Ajouter</button>
        </form>
        {% if trait %}
        <div class="table-responsive" style="padding-right: 15%">
            <table class="table table-hover" style="text-align: center">
                <tr>
                    <th>Apiculteur</th>
                    <th>date</th>
                    <th>maladie</th>
                    <th>methode</th>
                    <th>posologie</th>
                    <th>remarques</th>
                </tr>
                {% for t in trait %}
                {% for u in c.rucher.user.all %}
                {% if u == user %}
                <tr>
                    <td style="vertical-align: middle">{{ t.api }}</td>
                    <td style="vertical-align: middle">{{ t.date }}</td>
                    <td style="vertical-align: middle">{{ t.maladie }}</td>
                    <td style="vertical-align: middle">{{ t.methode }}</td>
                    <td style="vertical-align: middle">{{ t.posologie }}</td>
                    <td style="vertical-align: middle; width: 850px">{{ t.remarques }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% if user.is_staff %}
                <tr>
                    <td style="vertical-align: middle">{{ t.api }}</td>
                    <td style="vertical-align: middle">{{ t.date }}</td>
                    <td style="vertical-align: middle">{{ t.maladie }}</td>
                    <td style="vertical-align: middle">{{ t.methode }}</td>
                    <td style="vertical-align: middle">{{ t.posologie }}</td>
                    <td style="vertical-align: middle; width: 850px">{{ t.remarques }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p>Aucuns traitements</p>
        {% endif %}
    </div>
    <div>
        <h4 style="display: inline-block">Récoltes</h4>
        <form method="get" style="display: inline-block" action="{% url 'ajouterRecolte' c.rucher c.nom %}">
            <button type="submit" class="btn btn-warning m-0">Ajouter</button>
        </form>
        {% if recoltes %}
        <div class="table-responsive" style="padding-right: 15%">
            <table class="table table-hover" style="text-align: center">
                <tr>
                    <th>date</th>
                    <th>produit recolte</th>
                    <th>quantite</th>
                    <th>notes</th>
                </tr>
                {% for r in recoltes %}
                {% for u in c.rucher.user.all %}
                {% if u == user %}
                <tr>
                    <td style="vertical-align: middle">{{ r.date }}</td>
                    <td style="vertical-align: middle">{{ r.produitRecolte }}</td>
                    <td style="vertical-align: middle">{{ r.quantite }}</td>
                    <td style="vertical-align: middle; width: 850px">{{ r.note }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% if user.is_staff %}
                <tr>
                    <td style="vertical-align: middle">{{ r.date }}</td>
                    <td style="vertical-align: middle">{{ r.produitRecolte }}</td>
                    <td style="vertical-align: middle">{{ r.quantite }}</td>
                    <td style="vertical-align: middle; width: 850px">{{ r.note }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p>Aucunes récoltes</p>
        {% endif %}
    </div>
    <div>
        <h4 style="display: inline-block">Pesées</h4>
        <form method="get" style="display: inline-block" action="{% url 'ajouterPesee' c.rucher c.nom %}">
            <button type="submit" class="btn btn-warning m-0">Ajouter</button>
        </form>
        {% if pesees %}
        <div class="table-responsive" style="padding-right: 15%">
            <table class="table table-hover" style="text-align: center">
                <tr>
                    <th>date</th>
                    <th>poids</th>
                    <th>notes</th>
                </tr>
                {% for p in pesees %}
                {% for u in c.rucher.user.all %}
                {% if u == user %}
                <tr>
                    <td style="vertical-align: middle">{{ p.date }}</td>
                    <td style="vertical-align: middle">{{ p.poids }}</td>
                    <td style="vertical-align: middle; width: 850px">{{ p.note }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% if user.is_staff %}
                <tr>
                    <td style="vertical-align: middle">{{ p.date }}</td>
                    <td style="vertical-align: middle">{{ p.poids }}</td>
                    <td style="vertical-align: middle; width: 850px">{{ p.note }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p>Aucunes pesées</p>
        {% endif %}
    </div>
    {% else %}
    <p>You are not logged</p>
    {% endif %}
</div>

<script type="text/javascript">
    function validateRucher(form, rucher) {
        if (confirm("Voulez vous supprimer "+rucher+" ?") === false) {
            return false;
        } else {
            return true;
        }
    }
</script>
</body>
</html>