{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ruches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ProjetRuches/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<ul class="navbarMenu">
    <li class="liNavBar"><a href="home">Accueil</a></li>
    <li class="liNavBar"><a href="camerasUser">Caméras</a></li>
    <li class="liNavBar"><a href="informationsUser">Informations</a></li>
    {% if user.is_authenticated %}
    <li class="dropdown2">
        <a href="afficherRuchers" class="dropbtn">Gestion Ruchers</a>
        <div class="dropdown-content">
            <a href="afficherRuchers">Afficher Ruchers</a>
            <a href="ajouterRucher">Ajouter Rucher</a>
            <a href="modifierRuchers">Modifier Rucher</a>
            <a href="supprimerRuchers">Supprimer Rucher</a>
        </div>
    </li><!--
 --><li class="dropdown2">
        <a href="afficherColonies" class="dropbtn">Gestion Colonies</a>
        <div class="dropdown-content">
            <a class="active" href="afficherColonies">Afficher Colonies</a>
            <a href="ajouterColonie">Ajouter Colonie</a>
            <a href="modifierColonies">Modifier Colonie</a>
            <a href="supprimerColonies">Supprimer Colonie</a>
        </div>
    </li><!--
    --><li class="dropdown2">
        <a href="/afficherNourrissements" class="dropbtn">Gestion Nourrissements</a>
    </li>
    <li class="right liNavBar"><a href="{% url 'logout' %}">Déconnexion</a></li>
    <li class="right liNavBar"><a href="/monCompte">Mon Compte</a></li>
    {% if user.is_superuser %}
    <li class="right liNavBar"><a href="showUsersAdmin">Administration</a></li>
    <li class="right liNavBar">Bonjour {{ user.username }} (superuser)</li>
    {% else %}
    <li class="right liNavBar">Bonjour {{ user.username }}</li>
    {% endif %}
    {% else %}
    <li class="right liNavBar"><a href="{% url 'login' %}">Connexion</a></li>
    <li class="right liNavBar"><a href="inscription">Inscription</a></li>
    {% endif %}
</ul>
<div>
    <h2>Récoltes</h2>
    {% if user.is_authenticated %}
    <div class="table-responsive" style="padding-right: 15%">
        <table class="table table-hover" style="text-align: center">
            <tr>
                <th>Rucher</th>
                <th>Colonie</th>
                <th>Date</th>
                <th>Produit Récolté</th>
                <th>Quantite</th>
                <th>Dernière Note</th>
            </tr>
            {% for r in recoltes %}
            {% if r.colonie.rucher.user == user or user.is_staff%}
            <tr>
                <td style="vertical-align: middle">{{ r.colonie.rucher.nom }}</td>
                <td style="vertical-align: middle">{{ r.colonie.nom }}</td>
                <td style="vertical-align: middle">{{ r.date }}</td>
                <td style="vertical-align: middle">{{ r.produitRecolte }}</td>
                <td style="vertical-align: middle">{{ r.quantite }}</td>
                <td style="vertical-align: middle; width: 350px">{{ r.note }}</td>
                <td style="vertical-align: middle; width: 150px">
                    <form id="formDel" method="post" onsubmit="return validateRucher(this,'{{r.id}}')" style="display: inline-block"
                          action="{% url 'validSupprimerRecolte' r.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger m-0">supprimer</button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p>You are not logged</p>
    {% endif %}
</div>

<script type="text/javascript">
    function validateRucher(form, recolte) {
        if (confirm("Voulez vous supprimer ?") === false) {
            return false;
        } else {
            return true;
        }
    }
</script>
</body>
</html>