{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ruches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ProjetRuches/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>


</head>
<body>
<div style="text-align: center">
    {% include "../../Nav/top.html" %}
</div>

<ul class="navbarMenu">
    <li class="liNavBar"><a href="/home">Accueil</a></li>
    <li class="liNavBar"><a href="/camerasUser">Caméras</a></li>
    <li class="liNavBar"><a href="/informationsUser">Informations</a></li>
    {% if user.is_authenticated %}
    <li class="liNavBar"><a href="/afficherRuchers">Gestion Ruchers</a></li>
    <li class="liNavBar"><a class="active" href="/afficherColonies">Gestion Colonies</a></li>
    <li class="right liNavBar"><a href="{% url 'logout' %}">Déconnexion</a></li>
    <li class="right liNavBar" style="height: 52px">
        <a href="/monCompte" style="padding-top: 0">
            {% if user.is_superuser %}
            <p style="margin-bottom: 0; font-size: 11pt">Bonjour {{ user.username }} (superuser)</p>
            {% else %}
            <p style="margin-bottom: 0; font-size: 11pt">Bonjour {{ user.username }}</p>
            {% endif %}
            Mon Compte
        </a>
    </li>
    {% if user.is_superuser %}
    <li class="right liNavBar"><a href="showUsersAdmin">Administration</a></li>
    {% endif %}
    {% else %}
    <li class="right liNavBar"><a href="{% url 'login' %}">Connexion</a></li>
    <li class="right liNavBar"><a href="inscription">Inscription</a></li>
    {% endif %}
</ul>
{% include "../../Nav/navigation.html" %}
<div>
    <h2 style="color: #1C5F90;">Colonie {{colonie}} {{rucher}} </h2>
    <div class="multipleForm">
        <div class="container-table100">
            <div class="container-form">
                <p class="bigTitleForm">Nouvelle Feuille de Visite</p>
                <div class="titleForm">
                    {% if etape == 1 %}
                    <ul role="tablist">
                        <li class="first active" role="tab" aria-disabled="false" aria-selected="true">
                            <p style="text-align: center">Infos pricipales</p>
                        </li>
                        <li>
                            <p style="text-align: center">Infos complémentaires</p>
                        </li>
                    </ul>
                    {% else %}
                    <ul role="tablist">
                        <li class="first" role="tab" aria-disabled="false" aria-selected="true">
                            <p style="text-align: center">Infos pricipales</p>
                        </li>
                        <li class="active">
                            <p style="text-align: center">Infos complémentaires</p>
                        </li>
                    </ul>
                    {% endif %}
                </div>
                <form class="formVisite" method="post">
                    {% csrf_token %}

                    {% if etape == 1 %}
                    <div style="text-align: center">
                        <div style="display:inline-block; padding-right: 20px">
                            <div style="display: inline-block;">Rucher : &nbsp;</div><div style="display: inline-block">{{ rucher }}</div>
                        </div>
                        <div style="display: inline-block; padding-left: 20px">
                            <div style="display:inline-block;">Colonie : &nbsp;</div><div style="display: inline-block">{{ colonie }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: center">
                        <div style="display: inline-block">Date : </div>
                        <div class="divDate" style="display: inline-block">
                            <div class="input-group" id="datetimepicker1" data-target-input="nearest" style="width: 200px">
                                {{ form.date }}
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p>Condition climatique :</p>{{ form.conditionClimatique }}
                    <br>
                    <div style="text-align: right; padding-right: 5%">
                        <button type="submit" class="btn btn-primary">Suivant</button>
                    </div>
                    {% else %}
                    {% if etape < 16 %}
                    {% if etape == 2 %}
                    {{ form.as_p }}
                    {% elif etape == 3 %}

                    <p>Attitude des abeilles :</p>{{ form.attitudeAbeilles }}

                    <br>
                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Cadres</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="padding-left: 5%">
                        <div style="display: inline-block; padding-left: 10%; padding-right: 20%">
                            <div>
                                <div style="display: inline-block">Nombre de cadres : &nbsp;</div><div style="display: inline-block">{{ form.nombreCadresColonie }}</div>
                            </div>
                        </div>
                        <div class="parti">
                            <div>
                                <p style="display: inline-block">Partition : </p><div style="display: inline-block">{{ form.partition }}</div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-left: 5%">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Nombre de ruelles occupées : &nbsp;</div><div style="display: inline-block">{{ form.nombreRuellesOccupees }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="padding-left: 5%">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Nombre de cadres de couvain : &nbsp;</div><div style="display: inline-block">{{ form.nombreCadresCouvain }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="padding-left: 5%">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Nombre de cadres cire gauffrée introduit : &nbsp;</div><div style="display: inline-block">{{ form.nombreCadreCireGauffreeIntroduit }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="padding-left: 5%">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Nombre de hausses : &nbsp;</div><div style="display: inline-block">{{ form.nombreHausse }}</div>
                        </div>
                    </div>

                    <br>
                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Couvain</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="padding-left: 5%">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Compact : &nbsp;</div><div style="display: inline-block">{{ form.couvainCompact }} &nbsp;</div><div style="display: inline-block">(si coché oui, entraîne bonne reine)</div>
                        </div>
                    </div>
                    <br>
                    <div style="padding-left: 5%">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Mosaïque : &nbsp;</div><div style="display: inline-block">{{ form.couvainMosaique }} &nbsp;</div><div style="display: inline-block">(si coché oui, risque Loque ou Varroa)</div>
                        </div>
                    </div>
                    <br>
                    <div style="padding-left: 5%">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Chauve : &nbsp;</div><div style="display: inline-block">{{ form.couvainChauve }} &nbsp;</div><div style="display: inline-block">(si coché oui, risque de teigne)</div>
                        </div>
                    </div>
                    <br>
                    <div style="padding-left: 5%">
                        <div style="display: inline-block; padding-left: 10%; padding-right: 10%">
                            <div>
                                <div style="display: inline-block">Présence d'oeufs : </div><div style="display: inline-block">{{ form.presenceOeuf }}</div>
                            </div>
                        </div>
                        <div class="parti">
                            <div>
                                <div style="display: inline-block">Nombre de cadres (optionnel) : &nbsp;</div><div style="display: inline-block">{{ form.nombreCadresOeuf }}</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div style="padding-left: 5%">
                        <div style="display: inline-block; padding-left: 10%; padding-right: 9%">
                            <div>
                                <div style="display: inline-block">Cadre de couvain : </div><div style="display: inline-block">{{ form.cadreCouvain }}</div>
                            </div>
                        </div>
                        <div class="parti">
                            <div>
                                <div style="display: inline-block">Nombre de cadres (optionnel) : &nbsp;</div><div style="display: inline-block">{{ form.nombreCadresCouvain2 }}</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    {% elif etape == 4 %}
                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Reine</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-right: 9%">
                            <div>
                                <div style="display: inline-block">Origine reine : </div><div style="display: inline-block; vertical-align: top">{{ form.origineReine }}</div>
                            </div>
                        </div>
                        <div class="parti">
                            <div>
                                <div style="display: inline-block">Reine présente : &nbsp;</div><div style="display: inline-block; vertical-align: top">{{ form.reinePresente }}</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div style="padding-left: 10%">
                        <div style="display: block; padding-left: 10%; padding-right: 9%">
                            <div>
                                <div style="display: inline-block">Reine marquée : </div><div style="display: inline-block; vertical-align: top">{{ form.reineMarquee }}</div>
                            </div>
                        </div>
                        <div style="display: block; padding-left: 10%">
                            <div>
                                <div style="display: inline-block">couleur (optionnel) : </div><div style="display: inline-block; vertical-align: top">{{ form.couleurReineMarque }}</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-right: 7%">
                            <div>
                                <div style="display: inline-block">Présence cellule royale : </div><div style="display: inline-block; vertical-align: top">{{ form.presenceCelluleRoyale }}</div>
                            </div>
                        </div>
                        <div class="parti">
                            <div>
                                <div style="display: inline-block">origine (optionnel) : </div><div style="display: inline-block; vertical-align: top">{{ form.presenceCelluleRoyaleOrigine }}</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Faux-Bourdons</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block; padding-right: 9%">
                            <div>
                                <div style="display: inline-block">Cellule Faux-Bourdons : </div><div style="display: inline-block; vertical-align: top">{{ form.celluleFauxBourdons }}</div>
                            </div>
                        </div>
                        <div style="display: inline-block;">
                            <div>
                                <div style="display: inline-block">Présence Faux-Bourdons : </div><div style="display: inline-block; vertical-align: top">{{ form.presenceFauxBourdons }}</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Maladie et traitements</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block">{{ form.maladieTraitement }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: center">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Méthode (optionnel) :</div><div style="display: inline-block; vertical-align: top">{{ form.methodeUtilisee }}</div>
                        </div>
                    </div>
                    <br>

                    {% elif etape == 5 %}

                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Nuisible</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block">{{ form.nuisible }}</div>
                        </div>
                    </div>
                    <br>

                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Autre</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div style="display: inline-block">
                            <div style="padding-left: 10%">
                                <div style="display: inline-block">Récolte Propolis : &nbsp;</div><div style="display: inline-block">{{ form.recoltePropolis }}</div>
                            </div>
                        </div>
                        <div style="display: inline-block">
                            <div style="padding-left: 10%">
                                <div style="display: inline-block">Récolte de pollen : &nbsp;</div><div style="display: inline-block">{{ form.recoltePollen }}</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Nourrissement</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block">Type aliment : </div><div style="display: inline-block; vertical-align: top">{{ form.typeAlimentNourrissement }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: center">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Quantité (Gramme ou litre) (optionnel) :</div><div style="display: inline-block;">{{ form.quantiteAlimentNourrissement }}</div><div style="display: inline-block">{{ form.uniteNourrissement }}</div>
                        </div>
                    </div>
                    <br>


                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Apport</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block; vertical-align: top">{{ form.apport }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: center">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Provenance (optionnel) :</div><div style="display: inline-block;">{{ form.provenanceApport }}</div>
                        </div>
                    </div>
                    <br>


                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Ponction</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block; vertical-align: top">{{ form.ponction }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: center">
                        <div style="padding-left: 10%">
                            <div style="display: inline-block">Destination (optionnel) :</div><div style="display: inline-block;">{{ form.destinationPonction }}</div>
                        </div>
                    </div>
                    <br>

                    {% elif etape == 6 %}

                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Manipulation (optionnel)</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block">Reine marquée : </div><div style="display: inline-block; vertical-align: top">{{ form.reineMarqueeManipulation }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block">Colonie déplacé : </div>
                            <div style="display: inline-block">&nbsp; le : </div>
                            <div class="divDate" style="display: inline-block">
                                <div class="input-group" id="datetimepicker1" data-target-input="nearest" style="width: 200px">
                                    {{ form.colonieDeplacee }}
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: inline-block">&nbsp; à</div>
                            <div style="display: inline-block">{{ form.destinationDeplacee }}</div>
                        </div>
                    </div>

                    <br>
                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block">Essaimage naturel : </div>
                            <div style="display: inline-block">&nbsp; le : </div>
                            <div class="divDate" style="display: inline-block">
                                <div class="input-group" id="datetimepicker2" data-target-input="nearest" style="width: 200px">
                                    {{ form.essaimageNaturel }}
                                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block">Remérage : </div>
                            <div style="display: inline-block">&nbsp; le : </div>
                            <div class="divDate" style="display: inline-block">
                                <div class="input-group" id="datetimepicker3" data-target-input="nearest" style="width: 200px">
                                    {{ form.remerage }}
                                    <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: inline-block">&nbsp; origine : </div>
                            <div style="display: inline-block">{{ form.origineRemerage }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block">Division colonie : </div>
                            <div style="display: inline-block">&nbsp; le : </div>
                            <div class="divDate" style="display: inline-block">
                                <div class="input-group" id="datetimepicker4" data-target-input="nearest" style="width: 200px">
                                    {{ form.divisionColonie }}
                                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: inline-block">&nbsp; Création ruche : </div>
                            <div style="display: inline-block">{{ form.creationRuche }}</div>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block">Réunion colonie : </div>
                            <div style="display: inline-block">&nbsp; le : </div>
                            <div class="divDate" style="display: inline-block">
                                <div class="input-group" id="datetimepicker5" data-target-input="nearest" style="width: 200px">
                                    {{ form.reunionColonie }}
                                    <div class="input-group-append" data-target="#datetimepicker5" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: inline-block">&nbsp; Libération ruche : </div>
                            <div style="display: inline-block">{{ form.liberationRuche }}</div>
                        </div>
                    </div>
                    <br>

                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Récolte (optionnel)</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block">Nombre de hausses : &nbsp;</div><div style="display: inline-block;">{{ form.nombreHausseRecolte }}</div>
                        </div>
                    </div>
                    <br>

                    {% elif etape == 7 %}

                     <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Notes (optionnel)</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block;">{{ form.notes }}</div>
                        </div>
                    </div>
                    <br>

                    <div class="titleForm">
                        <ul role="tablist">
                            <li class="first active" role="tab" aria-disabled="false" aria-selected="true" style="width: 100%">
                                <p style="text-align: center">Etat</p>
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: center">
                        <div>
                            <div style="display: inline-block;">{{ form.etatColonie }}</div>
                        </div>
                    </div>
                    <br>


                    {% endif %}
                    <div>
                        <div style="display: inline-block; padding-left: 5%">
                            <a href="javascript:history.back()" class="btn btn-warning">Précédent</a>
                        </div>
                        <div style="display: inline-block; padding-right: 5%; float: right">
                            <button type="submit" class="btn btn-primary">Suivant</button>
                        </div>
                    </div>
                    {% else %}
                    <button type="submit" class="btn btn-warning btnFormPrec">Précédent</button>
                    {% endif %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#datetimepicker1").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
        });
        $("#datetimepicker2").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
        });
        $("#datetimepicker3").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
        });
        $("#datetimepicker4").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
        });
        $("#datetimepicker5").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
        });
    });
</script>
</body>
</html>