{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ruches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ProjetRuches/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div style="text-align: center">
    {% include "../Nav/top.html" %}
</div>
<ul class="navbarMenu">
    <li class="liNavBar"><a href="home">Accueil</a></li>
    <li class="liNavBar active"><a href="informationsUser">Gestion capteurs</a></li>
    {% if user.is_authenticated %}
    <li class="liNavBar"><a href="afficherRuchers">Gestion Ruchers</a></li>
    <li class="liNavBar"><a href="afficherColonies">Gestion Colonies</a></li>
    <li class="right liNavBar"><a href="{% url 'logout' %}">Déconnexion</a></li>
    <li class="right liNavBar" style="height: 52px">
        <a href="/monCompte" style="padding-top: 0">
            {% if user.is_superuser %}
            <p style="margin-bottom: 0; font-size: 11pt">Bonjour {{ user.username }} (superuser)</p>
            {% else %}
            <p style="margin-bottom: 0; font-size: 11pt">Bonjour {{ user.username }}</p>
            {% endif %}
            Mon Compte
        </a>
    </li>
    {% if user.is_superuser %}
    <li class="right liNavBar"><a href="showUsersAdmin">Administration</a></li>
    {% endif %}
    {% else %}
    <li class="right liNavBar"><a href="{% url 'login' %}">Connexion</a></li>
    <li class="right liNavBar"><a href="inscription">Inscription</a></li>
    {% endif %}
</ul>
{% include "../Nav/navigation.html" %}
<div>
    <h2 style="color: #1C5F90">Liste Villes</h2>
    <div style="padding-left: 7%;">
        <ul style="list-style-type: none">
            {% for r in ruchers %}
            <li>
                <div style="display: inline-block">{{ r.ville }}</div> <div onclick="show('colonies{{r.ville}}')" style="display: inline-block; cursor: pointer; color: #007bff;" id="detailsVille">details</div>
                <div style="padding-left: 2%; display: none" id="colonies{{r.ville}}">
                {% for cap in capteurs %}
    <!--            {% if cap.loc.nom == r.nom %}-->
<!--                <p>{{ cap }} <a href="{% url 'detailsUser' cap.id %}">voir</a></p>-->
    <!--            {% endif %}-->
                {% if cap.rucher == r.ville %}
                <p>{{ cap.colonie }} <a href="{% url 'videoCameraUser' cap.id %}">voir</a></p>
                {% endif %}
                {% endfor %}
                </div>
            </li>
            <br>
            {% endfor %}
        </ul>
    </div>
</div>
<script type="text/javascript">
    function show(indice)
    {
        if (document.getElementById(indice).style.display==="none")		// Si la zone indiqué par indice est est invisible
            document.getElementById(indice).style.display="block";		// On l'affiche
        else									// Sinon (elle est donc visible)
            document.getElementById(indice).style.display="none";		//On la crend invisible
    }
</script>
</body>
</html>