<style>
    #access {
        background: #1C5F90;
        /*display: block;*/

        /*margin: 10px auto;*/
        /*width:100%;*/
        /*max-width:250px;*/
        /*z-index: 10;*/
        text-align: left;
    }

    #access label {
        font-size: 25px;

    }

    #access span.fa {
        background: #1C5F90;
        color: #fff;
        text-align: center;
        padding: 2px;
        cursor: pointer;
        width: 35px;
        height: 30px;
        vertical-align: bottom;
    }

    #access .menu-header, div.menu {
        margin: 0 auto;
        width: 100%;
    }

    #access li:hover > a {
        background: #72AAD9;
        color: #fff;

    }

    ul.menu {
        padding: 0 0 5px;
    }

    #check-toggle {
        display: none;
    }

    #menu0 {
        max-height: 0;
        opacity: 0;
        transition: all .8s;
    }

    #check-toggle:checked + #menu0 {
        max-height: 400px;
        opacity: 1;
        transition: opacity .8s;
    }

    #access .menu-header li, div.menu li {
        float: none;
        display: block;
        width: 100%;
        position: relative;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    #access .menu-header li::before, div.menu li::before {
        display: block;
        height: 1px;
        width: 10%;
        background-color: #fff2ab;
        content: " ";
        position: absolute;
        text-align: center;
        left: 50%;
        bottom: 0;
        margin-left: -5%;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    #access .menu-header li:hover::before {
        left: 15%;
        margin-left: 0;
        width: 70%;
    }

    #access a {
        min-width: 80px;
        padding: 0 5px;
        color: white;
        display: block;
        line-height: 38px;
        text-decoration: none;
    }

    #menu0 a {
        max-height: 0;
        transition: max-height .8s ease;
    }

    #check-toggle:checked + #menu0 a {
        max-height: 38px;
        transition: max-height .8s ease;
    }
</style>
<div class="menuMobile" style="width:100%;text-align:center;">
    <div id="access" role="navigation">
        <label for="check-toggle"><span class="fa fa-navicon"></span></label>
        <input id="check-toggle" name="check-toggle" type="checkbox">
        <div id="menu0">
            <div class="menu-header">
                <ul class="menu">
                    <li class="menu-item"><a href="/home">Accueil</a></li>
                    <li class="menu-item"><a href="/informationsUser">Gestion capteurs</a></li>
                    {% if user.is_authenticated %}
                    <li class="liNavBar"><a href="/afficherRuchers">Gestion Ruchers</a></li>
                    <li class="liNavBar"><a href="/afficherColonies">Gestion Colonies</a></li>
                    <li class="liNavBar">
                        <a href="/monCompte" style="padding-top: 0">
                            {% if user.is_superuser %}
                            {{ user.username }} (superuser) | Mon Compte
                            {% else %}
                            {{ user.username }} | Mon Compte
                            {% endif %}
                        </a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="liNavBar"><a href="/showUsersAdmin">Administration</a></li>
                    {% endif %}
                    <li class="liNavBar"><a href="{% url 'logout' %}">Déconnexion</a></li>
                    {% else %}
                    <li class="liNavBar"><a href="{% url 'login' %}">Connexion</a></li>
                    <li class="liNavBar"><a href="/inscription">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>